<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5>Filtrar por operador y fecha</h5>
        </div>
        <div class="card-block">
            <%= search_form_for @q do |f| %>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Operador:</label>
                            <%= f.select :operator_id_eq, options_from_collection_for_select(Operator.all, "id", "nombre", @q.operator_id_eq), {:prompt => 'Elige operador'}, {class: "form-control"} %>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Autobús:</label>
                            <%= f.select :bus_id_eq, options_from_collection_for_select(Bus.all, "id", "numero", @q.bus_id_eq), {:prompt => 'Elige autobús'}, {class: "form-control"} %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Fecha Inicio:</label>
                            <%= f.date_field :record_start_time_gteq, class: "form-control", placeholder: "Date >= to" %>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Fecha Final:</label>
                            <%= f.date_field :record_start_time_lteq, class: "form-control", placeholder: "Date <= to" %>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <%= f.submit "Buscar", class: "btn btn-primary" %>
                  </div>
                  </div>
            <% end %>
        </div>
    </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3>Servicios</h3>

        <% @years.reverse.each do |year| %>
          <% if year.to_s == @year.to_s %>
            <span class="mr-5"><%= year %></span>
          <% else %>
            <%= link_to year, services_path(year: year), class: "mr-5" %>
          <% end %>
        <% end %>

        <hr>
      </div>
      <div class="panel-body">
 <div class="content table-responsive table-full-width">
			<table class="table table-hover table-striped">
				<thead>
					<th>ID</th>
					<th>Autobús</th>
					<th>Operador</th>
					<th>Fecha de Servicio</th>
					<th>Km incial</th>
					<th>Km Final</th>
					<th>Factor</th>
					<th>Gastos</th>
				</thead>
				<tbody>
					<% @services.each do |service| %>
					<tr>
						<td><%= service.id%></td>
						<td><%= service.bus.numero%></td>
						<td><%= service.operator.nombre %></td>
						<td><%= service.record.start_time.strftime(" %b-%d-%Y") %> - <%= service.record.end_time.strftime(" %b-%d-%Y") %></td>
						<td><%= best_in_place service, :km_inicio, :url => record_service_path(service.record, service), :place_holder => "km iniciales" %></td>
						<td><%= best_in_place service, :km_fin, :url => record_service_path(service.record, service), :place_holder => "km finales" %></td>
						<td><%= best_in_place service, :factor, :url => record_service_path(service.record, service), :place_holder => "factor" %></td>
						<td><%= number_to_currency service.sum_gastos %></td> 
					</tr>
					<% end %>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>            
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>Total:  <%= number_to_currency @services.sum(:suma) %></td>
					</tr>
				</tbody>
			</table>
		</div>       
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="center">
    <% unless @services.blank? %>
      <%= will_paginate @services %>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function() {
    /* Activating Best In Place */
    jQuery(".best_in_place").best_in_place();
  });
</script>	


<script type="text/javascript">
	$(document).ready(function(){
		$('.form-control2').datepicker({
			todayHighlight: true,
			toggleActive: true,
			format: "mm-yyyy",
			viewMode: "months", 
			minViewMode: "months"
		});
	});
</script>
