<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5>Editar Diesel <%=@ga.month %></h5>
        </div>
        <div class="card-block">
            <%= form_for(@ga) do |f| %>
              <% if @ga.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@ga.errors.count, "error") %> prohibited this ga from being saved:</h2>

                  <ul>
                  <% @ga.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="form-group">
                <%= f.label :cantidad %>
                <%= f.text_field :cantidad, class: "form-control" %>
              </div>
              <div class="actions">
                <%= f.submit class: "btn btn-primary" %>
              </div>
            <% end %>

            <%= link_to 'Atrás', gas_path %> <br>
        </div>
    </div>
</div>
