<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5>Usuarios</h5>
        </div>
        <div class="card-block">
            <div class="table-responsive">
              <table class="table" id="example-3">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Admin</th>
                    <th>Puesto</th>
                    <th>Teléfono</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <% @users.each do |user| %>
                  <tr>
                    <td><i class="feather icon-user"></i> <%= user.name %></td>
                    <td><i class="feather icon-mail"></i> <%= user.email %></td>
                    <td><%= user.admin %></td>
                    <td><%= user.puesto %></td>
                    <td><i class="feather icon-smartphone"></i> <%= user.phone %></td>
                    <td><%= link_to 'Ver mas', users_admin_path(user) %></td>
                    <td><%= link_to 'Editar', edit_users_admin_path(user) %></td>
                    <td><%= link_to 'Eliminar', users_admin_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>        
        </div>
    </div>
</div>