<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5>Usuarios</h5>
        </div>
        <div class="card-block">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Admin</th>
                    <th>Puesto</th>
                    <th>Teléfono</th>
                    <th colspan="2"></th>
                  </tr>
                </thead>

                <tbody>
                  <% @users.each do |user| %>
                  <tr>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.admin %></td>
                    <td><%= user.puesto %></td>
                    <td><%= user.phone %></td>
                    <td><%= link_to 'Edit', edit_user_path(user) %></td>
                    <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>        
        </div>
    </div>
</div>
