<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5><%= @user.name %></h5>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-6">
                    <h6 class="">
                        <span class="text-muted m-r-5">Company:</span>
                        <%= @user.company.name %>
                    </h6>
                </div>
                <div class="col-6">
                    <h6 class="">
                        <span class="text-muted m-r-5">Name:</span>
                        <%= @user.name %>
                    </h6>
                </div>
                <div class="col-6 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Email:</span>
                        <%= @user.email %>
                    </h6>
                </div>
                <div class="col-6 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Puesto:</span>
                        <%= @user.puesto %>
                    </h6>
                </div>
                <div class="col-6 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Phone:</span>
                        <%= @user.phone %>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
