<%= form_for(@operator) do |f| %>
  <% if @operator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@operator.errors.count, "error") %> prohibited this operator from being saved:</h2>

      <ul>
      <% @operator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :número_de_licencia %><br>
    <%= f.text_field :licencia, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Vigencia %><br>
    <%= f.date_field :validez, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :papeles_completos? %><br>
    <%= f.check_box :papeles, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :observaciones %><br>
    <%= f.text_area :observaciones, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
