<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5>Busca operadores</h5>
        </div>
        <div class="card-block">
         <%= search_form_for @q do |f| %>
          <div class="row">
          <div class="col-md-12">
            <div class="form-group">
                <label>Operador:</label>
                <%= f.search_field :nombre_or_id_or_telefono_cont, placeholder: "Buscar operador", class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.submit "Buscar", class: "btn btn-primary" %>
          </div>
          </div>    
        <% end %>       
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5>Operadores</h5>
        </div>
        <div class="card-block">
            <div class="table-responsive">
              <table class="table" id="example-3">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Número de Licencia</th>
                    <th>Vigencia</th>
                    <th>Papeles</th>
                    <th>Calificación</th>
                    <th>Top</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @operators.each do |operator| %>
                  <tr>
                    <td><%= operator.id %></td>
                    <td><i class="feather icon-users"></i> <%= operator.try(:nombre) %></td>
                    <td><i class="feather icon-smartphone"></i> <%= operator.try(:telefono) %></td>
                    <td><i class="feather icon-credit-card"></i> <%= operator.try(:licencia) %></td>
                    <td><i class="feather icon-calendar"></i> <%= operator.try(:validez) %></td>
                    <% if operator.try(:papeles) == true %>
                <td class="text-center"><span class="label theme-bg4 f-12 text-white" style="border-radius: 15px;box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);">Completos</span></td>
                <% else %>
                <td class="text-center"><span class="label theme-bg3 f-12 text-white" style="border-radius: 15px;box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);">Incompletos</span></td>
                <% end %>
                   <%  if operator.reviews.count > 0 %>
                    <td><div class="star-rating" data-score= <%= operator.reviews.sum(:cantidad) / operator.reviews.count %> ></div></td>
                    <% else %>
                    <td><div class="star-rating" data-score= 0 ></div></td>
                    0
                    <% end %>
                    <td></td>
                    <td><%= link_to 'Ver más', operator %></td>
                    <td><%= link_to 'Editar', edit_operator_path(operator) %></td>
                    <td><%= link_to 'Eliminar', operator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>   
        </div>
    </div>
</div>


<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
