<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5>Operadores</h5>
        </div>
        <div class="card-block">
            <div class="table-responsive">
              <table class="table" id="example-3">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Número de Licencia</th>
                    <th>Vigencia</th>
                    <th>Papeles</th>
                    <th>Observaciones</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @operators.each do |operator| %>
                  <tr>
                    <td><%= operator.nombre %></td>
                    <td><%= operator.telefono %></td>
                    <td><%= operator.licencia%></td>
                    <td><%= operator.validez%></td>
                    <td><%= operator.papeles %></td>
                    <td><%= operator.observaciones %></td>
                    <td><%= link_to 'Ver más', operator %></td>
                    <td><%= link_to 'Editar', edit_operator_path(operator) %></td>
                    <td><%= link_to 'Eliminar', operator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>   
        </div>
    </div>
</div>
