<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <%= f.label :alias %><br>
        <%= f.text_field :alias, class: "form-control" %>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <%= f.label :razon_social %><br>
        <%= f.text_field :razon_social, required:true, class: "form-control" %>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <%= f.label :address %><br>
        <%= f.text_field :address, required:true, class: "form-control", id: 'searchTextField' %>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <%= f.label :rfc %><br>
        <%= f.text_field :rfc, required:true, class: "form-control" %>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <%= f.label :calle_y_numero %><br>
        <%= f.text_field :calle_y_numero, class: "form-control" %>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <%= f.label :colonia %><br>
        <%= f.text_field :colonia, class: "form-control" %>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <%= f.label :municipio %><br>
        <%= f.text_field :municipio, class: "form-control" %>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <%= f.label :estado %><br>
        <%= f.text_field :estado, class: "form-control" %>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <%= f.label :cp %><br>
        <%= f.text_field :cp, class: "form-control" %>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <%= f.label :pais %><br>
        <%= f.text_field :pais, class: "form-control" %>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <%= f.label :telefono %><br>
        <%= f.text_field :telefono, class: "form-control" %>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <%= f.label :email %><br>
        <%= f.text_field :email, required:true, class: "form-control", pattern: "[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*" %>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <%= f.label :nombre_cobro %><br>
        <%= f.text_field :nombre_cobro, class: "form-control" %>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <%= f.label :telefono_cobro %><br>
        <%= f.text_field :telefono_cobro, class: "form-control" %>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <%= f.label :email_cobro %><br>
        <%= f.text_field :email_cobro, class: "form-control", pattern: "[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*" %>
      </div>
    </div>
    <div class="col-12">
        <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>


<!-- Autocomplete -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCXph4Sx9MklyoSlZ4JH-FCryYgRRgWi4&callback=initMap&libraries=places"></script>

<script>
  function initialize() {
    var options = {
      types: ['(regions)'],
      componentRestrictions: {country: 'mx'},
    };

    var input = document.getElementById('searchTextField');
    var autocomplete = new google.maps.places.Autocomplete(input, options);
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
