<div class="row">
<div class="col-md-10 col-md-offset-1">
<div id="formario">
<h1>Lista de Clientes</h1>
<%= link_to 'Nuevo Cliente', new_client_path, class: "button button_red" %>
<div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
        <thead>
          <th>ID</th>
          <th>Razon Social</th>
          <th>R.F.C</th>
          <th>Dirección</th>
          <th>Colonia</th>
          <th>Estado</th>
          <th>Email</th>
          <th>Teléfono</th>
        </thead>
        <tbody>
        <% @clients.each do |client| %>
      <tr>
        <td><%= client.id%></td>
        <td><%= client.razon_social %></td>
        <td><%= client.rfc %></td>
        <td><%= client.calle_y_numero %></td>
        <td><%= client.colonia %></td>
        <td><%= client.estado %></td>
        <td><%= client.email %></td>
        <td><%= client.telefono %></td>
        <td><%= link_to 'Ver más', client %></td>
        <td><%= link_to 'Editar', edit_client_path(client) %></td>
        <td><%= link_to 'Eliminar', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
        <% end %>
        </tbody>
        </table>
</div>
</div>
</div>


<div class="row">
<div class="center">
<% unless @clients.blank? %>
  <%= will_paginate @clients %>
<% end %>
</div>
</div>