<div class="row">
  <div class="col-md-12">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3>Busca clientes</h3>
        <hr>
      </div>
      <div class="panel-body">
 <%= search_form_for @q do |f| %>
      <div class="row">
      <div class="col-md-12">
        <label>Cliente:</label>
        <%= f.search_field :razon_social_or_rfc_or_alias_cont, placeholder: "Buscar cliente por Razón Social, R.F.C o Alias"  %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.submit "Buscar", class: "btn btn-primary" %>
      </div>
      </div>    
    <% end %>       
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3>Clientes</h3>
        <hr>
      </div>
      <div class="panel-body">
<div class="content table-responsive table-full-width">
      <table class="table table-striped">
        <thead>
          <th>ID</th>
          <th>Status</th>
          <th>Servicios que debe</th>
          <th>Razon Social</th>
          <th>R.F.C</th>
          <th>Dirección</th>
          <th>Colonia</th>
          <th>Estado</th>
          <th>Email</th>
          <th>Teléfono</th>
        </thead>
        <tbody>
          <% @clients.each do |client| %>
          <tr>
            <td><%= client.id%></td>
            <% if client.records.where({ "records.status_admin" => false }).count > 0%>
            <td class="red">Deudor</td>
            <% else %>
            <td class="green">No debe</td>
            <% end %>
            <td class="green"><%= client.records.where({ "records.status_admin" => false }).count%></td>
            <td><%= client.razon_social %></td>
            <td><%= client.rfc %></td>
            <td><%= client.calle_y_numero %></td>
            <td><%= client.colonia %></td>
            <td><%= client.estado %></td>
            <td><%= client.email %></td>
            <td><%= client.telefono %></td>
            <td><%= link_to 'Ver más', client %></td>
            <td><%= link_to 'Editar', edit_client_path(client) %></td>

          </tr>
          <% end %>
        </tbody>
      </table>
    </div>        
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="center">
    <% unless @clients.blank? %>
    <%= will_paginate @clients %>
    <% end %>
  </div>
</div>