<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @client.user %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @client.alias %>
</p>

<p>
  <strong>Razon social:</strong>
  <%= @client.razon_social %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @client.rfc %>
</p>

<p>
  <strong>Calle y numero:</strong>
  <%= @client.calle_y_numero %>
</p>

<p>
  <strong>Colonia:</strong>
  <%= @client.colonia %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @client.municipio %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @client.estado %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @client.cp %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @client.pais %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @client.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Nombre cobro:</strong>
  <%= @client.nombre_cobro %>
</p>

<p>
  <strong>Telefono cobro:</strong>
  <%= @client.telefono_cobro %>
</p>

<p>
  <strong>Email cobro:</strong>
  <%= @client.email_cobro %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
