<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5><%= @client.razon_social %></h5>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-6">
                    <h6 class="">
                        <span class="text-muted m-r-5">Rfc:</span>
                        <%= @client.rfc %>
                    </h6>
                </div>
                <div class="col-6">
                    <h6 class="">
                        <span class="text-muted m-r-5">Address:</span>
                        <%= @client.address %>
                    </h6>
                </div>
                <div class="col-6">
                    <h6 class="">
                        <span class="text-muted m-r-5">Calle y numero:</span>
                        <%= @client.calle_y_numero %>
                    </h6>
                </div>
                <div class="col-6 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Colonia:</span>
                        <%= @client.colonia %>
                    </h6>
                </div>
                <div class="col-6 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Municipio:</span>
                        <%= @client.municipio %>
                    </h6>
                </div>
                <div class="col-6 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Estado:</span>
                        <%= @client.estado %>
                    </h6>
                </div>
                <div class="col-6 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Cp:</span>
                        <%= @client.cp %>
                    </h6>
                </div>
                <div class="col-6 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Pais:</span>
                        <%= @client.pais %>
                    </h6>
                </div>
                <div class="col-6 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Telefono:</span>
                        <%= @client.telefono %>
                    </h6>
                </div>
                <div class="col-6 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Email:</span>
                        <%= @client.email %>
                    </h6>
                </div>
                <div class="col-6 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Nombre cobro:</span>
                        <%= @client.nombre_cobro %>
                    </h6>
                </div>
                <div class="col-6 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Telefono cobro:</span>
                        <%= @client.telefono_cobro %>
                    </h6>
                </div>
                <div class="col-6 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Email cobro:</span>
                        <%= @client.email_cobro %>
                    </h6>
                </div>
                <div class="col-6 mt-3">
                    <h6 class="">
                        <%= link_to 'Editar Cliente', edit_client_path(@client), class: "btn btn-primary" %>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5>Información</h5>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-12 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Cliente desde:</span>
                        <%= @client.created_at.strftime(" %b-%d-%Y") %>
                    </h6>
                </div>
                <div class="col-12 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Servicios realizados:</span>
                        <%=@client.records.count %>
                    </h6>
                </div>
                <div class="col-12 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Último servicio:</span>
                        <%= link_to @client.records.last do %>
                            <%= @client.records.last.try(:title) %>
                        <% end %>        
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5>Finanzas</h5>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-12 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Pagos hechos:</span>
                        <%=@client.sum_clients %>
                    </h6>
                </div>
                <div class="col-12 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Debe:</span>
                        <%=@client.sum_clients_deu %>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5>Servicios de <%=@client.razon_social %></h5>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table">
                  <thead>
                    <th>I.D</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Regreso</th>
                    <th>Referencia</th>
                    <th>Cliente</th>
                    <th>R.F.C</th>
                    <th>Numero pasajeros</th>
                    <th>Numero de camiones</th>
                    <th>Luagr de Salida</th>
                    <th>Precio</th>
                    <th>Pagos</th>
                    <th>Status op</th>
                    <th>Status admin</th>
                    <th>% Completo</th>
                    <th colspan="2"></th>
                  </thead>
                <tbody>
                  <% @records.each do |record| %>
                  <tr>
                    <td><%= record.try(:id)%></td>
                    <td><%= record.try(:start_time).strftime(" %b-%d-%Y") %></td>
                    <td><%= record.try(:end_time).strftime(" %b-%d-%Y") %></td>
                    <td><%= record.try(:title) %></td>
                    <td><%= record.client.try(:razon_social) %></td>
                    <td><%= record.client.try(:rfc) %></td>
                    <td><%= record.try(:numero_pasajeros) %></td>
                    <td><%= record.try(:numero_de_camiones) %></td>
                    <td><%= record.try(:lugar_salida) %></td>
                    <td><%= record.try(:precio_final) %></td>
                    <td><%= record.try(:sum_payments) %></td>
                    <td><%= record.try(:status_op) %></td>
                    <% if record.try(:status_admin) == true %>
                    <td class="text-success">Cobrado</td>
                    <% else %>
                    <td class="text-danger">Por Cobrar</td>
                    <% end %>
                    <td><%= record.sum_total %> % </td>
                    <td><%= link_to 'Ver más', record %></td>
                    <td><%= link_to 'Eliminar', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                  <% end %>
                </tbody>
                </table>
                <div style="display:flex; justify-content:center; align-items:center;">
                    <% unless @records.blank? %>
                        <%= will_paginate @records, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
