<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h5>Cotizaciones Mensuales<br><small>últimos doce meses</small></h5>
        </div>
        <div id="call-chart" style="width: 100%; height: 350px"></div>
    </div>
</div>

<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h5>Registros</h5>
        </div>
        <div class="card-block">
            <canvas id="chart-line-1" style="width: 100%; height: 300px"></canvas>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h5>Servicios Mensuales<br><small>últimos doce meses</small></h5>
        </div>
        <div id="services-chart" style="width: 100%; height: 350px"></div>
    </div>
</div>

<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h5>Gastos</h5>
        </div>
        <div class="card-block">
            <canvas id="chart-line-3" style="width: 100%; height: 300px"></canvas>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h5>Ingresos</h5>
        </div>
        <div class="card-block">
            <canvas id="chart-line-4" style="width: 100%; height: 300px"></canvas>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h5>Utilización de la flota de autobuses, %<br><small>últimos 30 días</small></h5>
        </div>
        <div class="card-block">
            <div id="line-area2" class="lineAreaDashboard" style="height:300px;"></div>
        </div>
    </div>
</div>
<div class="col-xl-4 col-md-12 m-b-30 datta-example">
    <h5 class="docs-header" id="page-table">Autobuses menos reservados</h5>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Today</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">This Month</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">This Year</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent" style="padding: 35px 30px;">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <% @free_buses.each do |bus| %>
                <div class="media friendlist-box align-items-center justify-content-center m-b-20">
                    <div class="media-body">
                        <h6 class="m-0 d-inline"><%= bus %></h6>
                        <span class="float-right d-flex align-items-center">1 dia</span>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <% @free_buses_month.each do |number, days| %>
                <div class="media friendlist-box align-items-center justify-content-center m-b-20">
                    <div class="media-body">
                        <h6 class="m-0 d-inline"><%= number %></h6>
                        <span class="float-right d-flex align-items-center"><%= days %> dias</span>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <% @free_buses_year.each do |number, days| %>
                <div class="media friendlist-box align-items-center justify-content-center m-b-20">
                    <div class="media-body">
                        <h6 class="m-0 d-inline"><%= number %></h6>
                        <span class="float-right d-flex align-items-center"><%= days %> dias</span>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

<div class="col-xl-8 col-md-12 datta-example">
    <div class="card user-list">
        <div class="card-header">
            <h5>Last users login</h5>
        </div>
        <div class="card-block pb-0">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Puesto</th>
                            <th>Last login</th>
                    </thead>
                    <tbody>
                        <% @users.each do |user| %>
                            <tr>
                                <td>
                                    <h6 class="m-0"><%= user.name %></h6>
                                </td>
                                <td>
                                    <h6 class="m-0"><%= user.puesto %></h6>
                                </td>
                                <td>
                                    <h6 class="m-0"><%= user.current_sign_in_at %></h6>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h5>Quotations created/closed<br><small>last 30 days</small></h5>
        </div>
        <div class="card-block">
            <div id="line-chart2" class="lineChart2 ChartShadow" style="height:350px;"></div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h5>Records created/closed<br><small>last 30 days</small></h5>
        </div>
        <div class="card-block">
            <div id="line-chart3" class="lineChart2 ChartShadow" style="height:350px;"></div>
        </div>
    </div>
</div>

<div class="card theme-bg2 assets-value">
    <div class="bg-img"></div>
    <div class="card-block  text-center">
        <i class="fas fa-chart-line text-white f-30 m-b-20"></i>
        <h5 class="text-white m-b-12">Total Growth</h5>
        <h3 class="text-white f-w-300">2,80,500</h3>
        <span class="text-white">80% More than last Month</span>
    </div>
</div>

<%= content_tag :div, class: "chart_data", data: {data: @data} do %><% end %>
