<div class="row">
  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3>Cotizaciones</h3>
        <hr>
      </div>
      <div class="panel-body">
        <%= column_chart Quotation.group_by_month(:created_at, format: "%G-%B").count,
    title: 'Cotizaciones Mensuales',
    colors: ['#F9A972'],
    library: {
      yAxis: {
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total Spent: <b>{point.y}</b>',
            xDateFormat: '%B',
            valuePrefix: '$'
          }
        }
%>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3>Registros</h3>
        <hr>
      </div>
      <div class="panel-body">
        <%= line_chart Record.group_by_month(:created_at, format: "%G-%B").count,
    title: 'Registros Mensuales',
    colors: ['#C87DB5'],
    library: {
      yAxis: {
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total Spent: <b>{point.y}</b>',
            xDateFormat: '%B',
            valuePrefix: '$'
          }
        }
%>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3>Servicios</h3>
        <hr>
      </div>
      <div class="panel-body">
        <%= area_chart Service.group_by_month(:created_at, format: "%G-%B").count %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3>Gastos</h3>
        <hr>
      </div>
      <div class="panel-body">
        <%= line_chart Receipt.all.group_by_month(:fecha, last: 12, current: false).sum('cantidad'),
    title: 'Gastos Mensuales',
    colors: ['green'],
    library: {
      yAxis: {
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total Spent: <b>{point.y}</b>',
            xDateFormat: '%B',
            valuePrefix: '$'
          }
        }
%>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3>Ingresos</h3>
        <hr>
      </div>
      <div class="panel-body">
        <%= line_chart Service.all.group_by_month(:fecha, last: 12, current: false).sum('precio_unidad'),
    title: 'Gastos Mensuales',
    colors: ['#F26D6B'],
    library: {
      yAxis: {
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total Spent: <b>{point.y}</b>',
            xDateFormat: '%B',
            valuePrefix: '$'
          }
        }
%>     
      </div>
    </div>
  </div>


<%= javascript_include_tag "https://www.google.com/jsapi" %>