<%= form_for(@record) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.datetime_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :initial_time %><br>
    <%= f.date_select :initial_time %>
  </div>
  <div class="field">
    <%= f.label :finish_time %><br>
    <%= f.date_select :finish_time %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.text_field :client_id %>
  </div>
  <div class="field">
    <%= f.label :numero_pasajeros %><br>
    <%= f.number_field :numero_pasajeros %>
  </div>
  <div class="field">
    <%= f.label :numero_de_camiones %><br>
    <%= f.number_field :numero_de_camiones %>
  </div>
  <div class="field">
    <%= f.label :lugar_salida %><br>
    <%= f.text_field :lugar_salida %>
  </div>
  <div class="field">
    <%= f.label :referencia_salida %><br>
    <%= f.text_field :referencia_salida %>
  </div>
  <div class="field">
    <%= f.label :nombre_referencia %><br>
    <%= f.text_field :nombre_referencia %>
  </div>
  <div class="field">
    <%= f.label :telefono_referencia %><br>
    <%= f.text_field :telefono_referencia %>
  </div>
  <div class="field">
    <%= f.label :precio %><br>
    <%= f.text_field :precio %>
  </div>
  <div class="field">
    <%= f.label :precio %><br>
    <%= f.text_field :precio %>
  </div>
  <div class="field">
    <%= f.label :factura %><br>
    <%= f.check_box :factura %>
  </div>
  <div class="field">
    <%= f.label :num_factura %><br>
    <%= f.text_field :num_factura %>
  </div>
  <div class="field">
    <%= f.label :status_op %><br>
    <%= f.text_field :status_op %>
  </div>
  <div class="field">
    <%= f.label :status_admin %><br>
    <%= f.text_field :status_admin %>
  </div>
  <div class="field">
    <%= f.label :observaciones %><br>
    <%= f.text_area :observaciones %>
  </div>
  <div class="field">
    <%= f.label :distancia %><br>
    <%= f.number_field :distancia %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
