<div id="step-4" class="tab-pane step-content" style="display: block;">
    <h5>Servicio de autobuses</h5>
    <hr>
    <%= form_for [@record, @service] do |f| %>
		<% if @record.errors.any? %>
    		<div id="error_explanation">
    			<h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

    			<ul>
    				<% @record.errors.full_messages.each do |message| %>
    				<li><%= message %></li>
    				<% end %>
    			</ul>
    		</div>
		<% end %>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label :Autobús %><br>
                    <%= f.select :bus_id, @free_buses, {:required => true, class: "form-control"} %>
                </div>
            </div>
            <div class="col-md-12">
                <%= f.submit 'Añadir Autobús', class: "btn btn-primary" %>
            </div>
            <div class="col-md-12 text-right">
                <%#= link_to 'Siguiente', class: "btn btn-primary" %>
            </div>
        </div>
	<% end %>
    <hr>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
