<div id="step-4" class="tab-pane step-content" style="display: block;">
    <h5>Autobuses: <%=@record.services.count%>/<%= @record.numero_de_camiones %></h5>
    <hr>
    <% if @record.services.count < @record.numero_de_camiones %>
        <%= form_for [@record, @service] do |f| %>
    		<% if @record.errors.any? %>
        		<div id="error_explanation">
        			<h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

        			<ul>
        				<% @record.errors.full_messages.each do |message| %>
        				<li><%= message %></li>
        				<% end %>
        			</ul>
        		</div>
    		<% end %>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <%= f.label :Autobús %><br>
                        <%= f.select :bus_id, @available_buses, {prompt: 'Elegir autobús'}, {:required => true, class: "form-control"} %>
                    </div>
                </div>
                <div class="col-md-12">
                    <%= f.submit 'Añadir Autobús', class: "btn btn-primary" %>
                </div>
            </div>
    	<% end %>
    <% end %>

    <h6 class="mt-5">Precio total: <%= number_to_currency @record.try(:precio_final) %></h6>
    <h6>Actualizado hace: <%= time_ago_in_words(@record.updated_at) %></h6>
    <h6>Precio por autobús (<%=@record.services.count %> autobuses) sugerido: <%= number_to_currency @record.try(:precio_final)/@record.services.count %></h6>

    <div class="row">
        <div class="col-md-12 text-right">
            <%= form_for(@record) do |f| %>
                <%= f.hidden_field :status, value: 'Precios' %>
                <%= hidden_field_tag :step, 5 %>
                <div class="btn-group">
                  <%= link_to 'Back', trip_record_path(@record), class: "btn btn-primary" %>
                  <%= f.submit "Siguiente", class: "btn btn-primary" %>
                </div>
            <% end %>
        </div>
    </div>

    <div class="table-responsive mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th>Autobus</th>
                    <th>Precio X unidad</th>
                    <th>Casetas</th>
                    <th>Hotel</th>
                    <th>Viáticos</th>
                    <th>Estacionamientos</th>
                    <th>Lavadas</th>
                    <th>Aeropuerto</th>
                    <th>Otros</th>
                    <th>Total</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @services.each do |service| %>
                    <tr class="text-center">
                      <%= form_for service, url: {controller: 'services', action: 'update', id: service.id} do |f| %>
                        <td><%= service.bus.numero %></td>
                        <td><%= f.text_field :precio_unidad, class: "", style: "color:#888;width:70px;" %></td>
                        <td><%= f.text_field :caseta, class: "", style: "color:#888;width:70px;" %></td>
                        <td><%= f.text_field :hotel, class: "", style: "color:#888;width:70px;" %></td>
                        <td><%= f.text_field :viaticos, class: "", style: "color:#888;width:70px;" %></td>
                        <td><%= f.text_field :estacionamientos, class: "", style: "color:#888;width:70px;" %></td>
                        <td><%= f.text_field :lavadas, class: "", style: "color:#888;width:70px;" %></td>
                        <td><%= f.text_field :aeropuerto, class: "", style: "color:#888;width:70px;" %></td>
                        <td><%= f.text_field :otros, class: "", style: "color:#888;width:70px;" %></td>
                        <td><%= service.sum_gastos %></td>
                        <%= hidden_field_tag :record_id, @record.id %>
                        <td><%= f.submit 'Save', class: "btn btn-secondary btn-sm" %></td>
                        <td><%= link_to "Eliminar Autobús", record_service_path(@record, service), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      <% end %>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
