<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5>Buscar Clientes</h5>
        </div>
        <div class="card-block">
            <%= search_form_for @q do |f| %>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Cliente deudor:</label>
                            <%= f.search_field :razon_social_or_rfc_or_alias_cont, placeholder: "Buscar cliente por Razón Social, R.F.C o Alias", class: "form-control" %>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <%= f.submit "Buscar", class: "btn btn-primary" %>
                    </div>
                </div>
            <% end %>
            <div class="row mt-5">
                <div class="col-md-12">
                    <h5>Lista de Clientes que Deben</h5>
                    <hr>
                    <% @years.reverse.each do |year| %>
                      <% if year.to_s == @year.to_s %>
                        <span class="mr-3"><%= year %></span>
                      <% else %>
                        <%= link_to year, cobranza_records_path(year: year), class: "mr-3" %>
                      <% end %>
                    <% end %>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <th>ID</th>
                          <th>Status</th>
                          <th>Servicios<br>que debe</th>
                          <th>Razon<br>Social</th>
                          <th>R.F.C</th>
                          <th>Dirección</th>
                          <th>Colonia</th>
                          <th>Estado</th>
                          <th>Email</th>
                          <th>Teléfono</th>
                          <th></th>
                        </thead>
                        <tbody>
                          <% @clients.each do |client| %>
                          <tr>
                            <td><%= client.id%></td>
                            <td class="text-danger">Deudor</td>
                            <td class="text-success"><%= client.records.where({ "records.status_admin" => false }).count%></td>
                            <td><%= client.razon_social %></td>
                            <td><%= client.rfc %></td>
                            <td><%= client.calle_y_numero %></td>
                            <td><%= client.colonia %></td>
                            <td><%= client.estado %></td>
                            <td><%= client.email %></td>
                            <td><%= client.telefono %></td>
                            <td><%= link_to 'Ver más', client %></td>
                            <td><%= link_to 'Editar', edit_client_path(client) %></td>
                          </tr>
                          <% end %>
                        </tbody>
                      </table>
                      <div style="display:flex; justify-content:center; align-items:center;">
                          <% unless @clients.blank? %>
                              <%= will_paginate @clients, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
                          <% end %>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
