<div class="row">
  <div class="col-md-12">
    <div id="formario">
      <h1>Histórico</h1>
      <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <th>I.D</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Regreso</th>
            <th>Referencia</th>
            <th>Cliente</th>
            <th>R.F.C</th>
            <th>Numero pasajeros</th>
            <th>Numero de camiones</th>
            <th>Luagr de Salida</th>
            <th>Precio</th>
            <th>Pagos</th>
            <th>Status op</th>
            <th>Status admin</th>
            <th>% Completo</th>
            <th colspan="2"></th>
          </thead>
          <tbody>
      <% @records.each do |record| %>
      <tr>
        <td><%= record.id%></td>
        <td><%= record.start_time.strftime(" %b-%d-%Y") %></td>
        <td><%= record.end_time.strftime(" %b-%d-%Y") %></td>
        <td><%= record.title %></td>
        <td><%= record.client.razon_social %></td>
        <td><%= record.client.rfc %></td>
        <td><%= record.numero_pasajeros %></td>
        <td><%= record.numero_de_camiones %></td>
        <td><%= record.lugar_salida %></td>
        <td><%= record.precio %></td>
        <td><%= record.sum_payments %></td>
        <td><%= record.status_op %></td>
        <% if record.status_admin == "true" %>
        <td>Cobrado</td>
        <% else %>
        <td>Por Cobrar</td>
        <% end %>
        <td><%= record.sum_total %> % </td>
        <td><%= link_to 'Ver más', record %></td>
        <td><%= link_to 'Eliminar', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
     <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>