<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h5>Búsqueda general</h5>
    </div>
    <div class="card-block">
      <%= search_form_for @q do |f| %>


      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Registro:</label>
            <%= f.search_field :id_eq, placeholder: "Buscar número de registro", class: "form-control" %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Cliente:</label>
            <%= f.search_field :client_razon_social_or_client_rfc_or_client_alias_cont, placeholder: "Buscar cliente por Razón Social, R.F.C o Alias", class: "form-control"  %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :Status %>
            <%= f.select :status_eq, Record.statuses, {prompt: 'Select status'}, {class: "form-control"} %>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Autobús:</label>
            <%= f.search_field :buses_numero_or_buses_capacidad_eq, placeholder: "Buscar número de autubús o capacidad", class: "form-control"  %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Marca:</label>
            <%= f.search_field :buses_marca_cont, placeholder: "Buscar marca de autubús", class: "form-control"  %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Operador:</label>
            <%= f.search_field :buses_operator_nombre_cont, placeholder: "Buscar nombre de operador", class: "form-control"  %>
          </div>
        </div>

      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <%= f.submit "Buscar", class: "btn btn-primary" %>
        </div>
      </div>
      <% end %> 
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h5 class="mr-3">Órdenes</h5>
      <% @years.reverse.each do |year| %>
      <% if year.to_s == @year.to_s %>
      <span class="mr-2 label theme-bg2 f-15 text-white active" style="border-radius: 15px;box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);"><%= year %></span>
      <% else %>
      <%= link_to year, records_path(year: year), class: "mr-3" %>
      <% end %>
      <% end %>
    </div>
    <div class="card-block">
      <div class="table-responsive mt-4">
        <table class="table" id="example">
          <thead>
            <th>ID</th>
            <th>Información</th>
            <th>Fecha de<br>Inicio</th>
            <th>Fecha de<br>Fin</th>
            <th>Número<br>pasajeros</th>
            <th>Número de<br>autobuses</th>
            <th>Precio</th>
            <th>Pagos</th>

            <th>Status<br>admin</th>
            <th>Status</th>
            <th>Usuario</th>
            <th></th>
            <th></th>

          </thead>
          <tbody>
            <% @records.each do |record| %>
            <tr>
              <td><%= record.try(:id)%></td>
              <td><i class="feather icon-file-text"></i> <%= record.try(:title) %> <br> <i class="feather icon-file"></i> <%= record.try(:razon_social) %> (<%= record.client.try(:rfc) %>) <br> </td>
              <td><%= record.try(:start_time).strftime(" %b-%d-%Y") %></td>
              <td><%= record.try(:end_time).strftime(" %b-%d-%Y") %></td>
              <td><i class="feather icon-users"></i> <%= record.try(:numero_pasajeros) %></td>
              <td><i class="feather icon-disc"></i> <%= record.try(:numero_de_camiones) %></td>
              <td><%= number_to_currency record.try(:precio_final) %></td>
              <td><%= number_to_currency record.try(:sum_payments) %></td>

              <% if record.try(:status_admin) == true %>
              <td class="text-center"><span class="label theme-bg4 f-12 text-white" style="border-radius: 15px;box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);">Cobrado</span></td>
              <% else %>
              <td class="text-center"><span class="label theme-bg3 f-12 text-white" style="border-radius: 15px;box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);">Por cobrar</span></td>
              <% end %>


              <% if record.status == 'Cerrado'%>
              <td class="text-center"><span class="label theme-bg5 f-12 text-white" style="border-radius: 15px;box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);"><%= record.status %></span></td>
              <%else%>
              <td class="text-center"><span class="label theme-bg f-12 text-white" style="border-radius: 15px;box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);"><%= record.status %></span></td>
              <%end%>

              <%
              status = record.status
              if status == 'Abierto'
                path = edit_record_path(record)
              elsif status == 'Cliente'
                path = client_record_path(record)
              elsif status == 'Itinerario'
                path = itinerary_record_path(record)
              elsif status == 'Adicional'
                path = trip_record_path(record)
              elsif status == 'Autobuses'
                path = bus_record_path(record)
              elsif status == 'Precios'
                path = price_record_path(record)
              elsif status == 'Pagos'
                path = payments_record_path(record)
              else
                path = pdf_record_path(record)
              end
              %>
              <td><%= record.user.name %></td>
              <td><%= link_to 'Ver más', path %></td>
              <td><%= link_to 'Eliminar', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div style="display:flex; justify-content:center; align-items:center;">
          <% unless @records.blank? %>
          <%= will_paginate @records, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
          <% end %>
        </div>
      </div>     
    </div>
  </div>
</div>
