<div class="row">
  <div class="col-md-12">
<div class="panel panel-headline">
  <div class="panel-body">
<div id="calendar"></div>
</div>
</div>
</div>
</div>

<br>

<%= @buses.count %>

<script>

  $(function() { // document ready

    $('#calendar').fullCalendar({
      aspectRatio: 1.8,
      scrollTime: '00:00',
      header: {
        left: 'today prev,next',
        center: 'title',
        right: 'timelineMonth,timelineYear'
      },
      monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
      dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
      dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
      defaultView: 'timelineMonth',
      resourceAreaWidth: '10%',
      resourceLabelText: 'Autobuses',
      resources: [
      <% @buses.each do |bus| %>
        { id: '<%=bus.id%>', title: '<%= bus.numero %>- <%= bus.marca %> <%= bus.capacidad %>' },
      <% end %>
      ],
      events: '/records/pizarron.json',
      success: function(calevents){
    $('#calendar').fullCalendar('addEventSource', calevents); 
}
    });
  
  });

</script>

<style>
  #calendar {

  }
</style>