<script src='/packages/core/main.js'></script>
<script src='/packages/interaction/main.js'></script>
<script src='/packages-premium/timeline/main.js'></script>
<script src='/packages-premium/resource-common/main.js'></script>
<script src='/packages-premium/resource-timeline/main.js'></script>

<div class="row">
  <div class="col-md-12">
<div class="panel panel-headline">
  <div class="panel-body">
<!-- <div id="calendar"></div> -->
<div id='calendar'></div>
</div>
</div>
</div>
</div>

<br>

<%= @buses.count %>

<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'interaction', 'resourceTimeline' ],
      now: Date.now(),
      editable: true,
      aspectRatio: 1.8,
      scrollTime: '00:00',
      header: {
        left: 'today prev,next',
        center: 'title',
        right: 'resourceTimelineMonth,resourceTimelineYear'
      },
      defaultView: 'resourceTimelineMonth',
      views: {
        resourceTimelineDay: {
          buttonText: ':15 slots',
          slotDuration: '00:15'
        },
        resourceTimelineTenDay: {
          type: 'resourceTimeline',
          duration: { days: 10 },
          buttonText: '10 days'
        }
      },
      navLinks: true,
      resourceAreaWidth: '10%',
      resourceLabelText: 'Autobuses',
      resources: [
        <% @buses.each do |bus| %>
          { id: '<%=bus.id%>', title: '<%= bus.numero %>- <%= bus.marca %> <%= bus.capacidad %>' },
        <% end %>
      ],
      events: '/records/pizarron.json'
    });

    calendar.setOption('locale', 'es');

    calendar.render();
  });

</script>

<style>
  #calendar {

  }
</style>