<div id="step-1" class="tab-pane step-content" style="display: block;">
    <h5>Precio</h5>
    <hr>
    <%= form_for(@record) do |f| %>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label 'Precio' %>
                    <%= f.text_field :precio, required:true, class: "form-control" %>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label 'Precio Final' %>
                    <%= f.text_field :precio_final, required:true, class: "form-control" %>
                </div>
            </div>
            <div class="col-md-12 text-right">
                <%= f.hidden_field :status, value: 'Pagos' %>
                <%= hidden_field_tag :step, 6 %>
                <div class="btn-group">
                  <%= link_to 'Back', bus_record_path(@record), class: "btn btn-primary" %>
                  <%= f.submit "Siguiente", class: "btn btn-primary" %>
                </div>
            </div>
        </div>
	<% end %>
</div>
