<p>
  <strong>Start time:</strong>
  <%= @record.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @record.end_time %>
</p>

<p>
  <strong>Initial time:</strong>
  <%= @record.initial_time %>
</p>

<p>
  <strong>Finish time:</strong>
  <%= @record.finish_time %>
</p>

<p>
  <strong>Title:</strong>
  <%= @record.title %>
</p>

<p>
  <strong>Client:</strong>
  <%= @record.client %>
</p>

<p>
  <strong>User:</strong>
  <%= @record.user %>
</p>

<p>
  <strong>Numero pasajeros:</strong>
  <%= @record.numero_pasajeros %>
</p>

<p>
  <strong>Numero de camiones:</strong>
  <%= @record.numero_de_camiones %>
</p>

<p>
  <strong>Lugar salida:</strong>
  <%= @record.lugar_salida %>
</p>

<p>
  <strong>Referencia salida:</strong>
  <%= @record.referencia_salida %>
</p>

<p>
  <strong>Nombre referencia:</strong>
  <%= @record.nombre_referencia %>
</p>

<p>
  <strong>Telefono referencia:</strong>
  <%= @record.telefono_referencia %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @record.precio %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @record.precio %>
</p>

<p>
  <strong>Factura:</strong>
  <%= @record.factura %>
</p>

<p>
  <strong>Num factura:</strong>
  <%= @record.num_factura %>
</p>

<p>
  <strong>Status op:</strong>
  <%= @record.status_op %>
</p>

<p>
  <strong>Status admin:</strong>
  <%= @record.status_admin %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @record.observaciones %>
</p>

<p>
  <strong>Distancia:</strong>
  <%= @record.distancia %>
</p>


<%= form_for [@record, @service], :html => {:id => 'service_form'} do |f| %>

  <div class="field">
    <%= f.label :bus_id %><br>
    <%= f.number_field :bus_id %>
  </div>


  <div class="actions">
    <%= f.submit class: "botones button_red" %>
  </div>
<% end %>



<%= form_for [@record, @payment], :html => {:id => 'payment_form'} do |f| %>

  <div class="field">
    <%= f.label :metodo %><br>
    <%= f.text_field :metodo %>
  </div>

  <div class="field">
    <%= f.label :num_recibo %><br>
    <%= f.text_field :num_recibo %>
  </div>

  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_field :fecha %>
  </div>

  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad %>
  </div>


  <div class="actions">
    <%= f.submit class: "botones button_red" %>
  </div>
<% end %>


<%= form_for [@record, @route], :html => {:id => 'route_form'} do |f| %>

  <div class="field">
    <%= f.label :place %><br>
    <%= f.text_field :place %>
  </div>


  <div class="actions">
    <%= f.submit class: "botones button_red" %>
  </div>
<% end %>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
