<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @record.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @record.end_time %>
</p>

<p>
  <strong>Initial time:</strong>
  <%= @record.initial_time %>
</p>

<p>
  <strong>Finish time:</strong>
  <%= @record.finish_time %>
</p>

<p>
  <strong>Title:</strong>
  <%= @record.title %>
</p>

<p>
  <strong>Client:</strong>
  <%= @record.client %>
</p>

<p>
  <strong>User:</strong>
  <%= @record.user %>
</p>

<p>
  <strong>Numero pasajeros:</strong>
  <%= @record.numero_pasajeros %>
</p>

<p>
  <strong>Numero de camiones:</strong>
  <%= @record.numero_de_camiones %>
</p>

<p>
  <strong>Lugar salida:</strong>
  <%= @record.lugar_salida %>
</p>

<p>
  <strong>Referencia salida:</strong>
  <%= @record.referencia_salida %>
</p>

<p>
  <strong>Nombre referencia:</strong>
  <%= @record.nombre_referencia %>
</p>

<p>
  <strong>Telefono referencia:</strong>
  <%= @record.telefono_referencia %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @record.precio %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @record.precio %>
</p>

<p>
  <strong>Factura:</strong>
  <%= @record.factura %>
</p>

<p>
  <strong>Num factura:</strong>
  <%= @record.num_factura %>
</p>

<p>
  <strong>Status op:</strong>
  <%= @record.status_op %>
</p>

<p>
  <strong>Status admin:</strong>
  <%= @record.status_admin %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @record.observaciones %>
</p>

<p>
  <strong>Distancia:</strong>
  <%= @record.distancia %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
