<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5>Servicio: <%= @record.id %></h5>
        </div>
        <div class="card-block">
            <h6>Registro creado por: <%= @record.user.name %> </h6>
            <h6>Status Op: <%= best_in_place [@record], :status_op, :as => :select, :collection => {"Prob Baja" => "Prob Baja", "Prob Media" => "Prob Media", "Prob Alta" => "Prob Alta", "Venta" => "Venta"} %></h6>

            <h5 class="mt-5"><%= @record.title %></h5>
            <hr>
            <div class="row">
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Fecha de Salida:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.start_time.strftime(" %b-%d-%Y") %>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Fecha de Regreso:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.end_time.strftime(" %b-%d-%Y") %>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Hora de Salida:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.initial_time %>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Hora de Regreso:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.finish_time %>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Número de Pasajeros:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.numero_pasajeros %>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Número de Camiones:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.numero_de_camiones %>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Lugar de Salida:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.lugar_salida %>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Referencia de Salida:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.referencia_salida %>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Persona de Referencia:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.nombre_referencia %>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Teléfono de Referencia:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.telefono_referencia %>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">¿Requiere Factura?:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.factura %>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5"># de Factura o Recibo:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.num_factura %>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Observaciones:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.observaciones %>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Condiciones:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.condiciones %>
                    </h6>
                </div>
            </div>

            <h5 class="mt-5">Autobuses: <%=@record.services.count%>/<%= @record.numero_de_camiones %></h5>
            <hr>
            <h6 class="">Precio total: <%= number_to_currency @record.try(:precio_final) %></h6>
            <h6>Actualizado hace: <%= time_ago_in_words(@record.updated_at) %></h6>
            <h6>Precio por autobús (<%=@record.services.count %> autobuses) sugerido: <%= number_to_currency @record.try(:precio_final)/@record.services.count %></h6>

            <div class="table-responsive mt-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Autobus</th>
                            <th>Precio X unidad</th>
                            <th>Casetas</th>
                            <th>Hotel</th>
                            <th>Viáticos</th>
                            <th>Estacionamientos</th>
                            <th>Lavadas</th>
                            <th>Aeropuerto</th>
                            <th>Otros</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @services.each do |service| %>
                            <tr class="text-center">
                                <td><%= service.bus.numero %></td>
                                <td><%= service.precio_unidad %></td>
                                <td><%= service.caseta %></td>
                                <td><%= service.hotel %></td>
                                <td><%= service.viaticos %></td>
                                <td><%= service.estacionamientos %></td>
                                <td><%= service.lavadas %></td>
                                <td><%= service.aeropuerto %></td>
                                <td><%= service.otros %></td>
                                <td><%= service.sum_gastos %></td>
                                <td><%= link_to "Eliminar Autobús", record_service_path(@record, service), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





<div class="row">

  <div class="col-md-6">
<% if @record.services.count < @record.numero_de_camiones %>
    <div class="panel panel-headline">
      <div class="panel-heading">
        
        <h3>Autobuses: <%=@record.services.count%>/<%= @record.numero_de_camiones %></h3>
        <hr>
      </div>
      <div class="panel-body">
        <%= form_for [@record, @service], :html => {:id => 'service_form'} do |f| %>

        <div class="field">
          <%= f.label :Autobús %><br>
          <%= f.select :bus_id, Bus.all.collect { |p| [ "#{p.numero}, #{p.version} - #{p.capacidad} pasajeros", p.id ] } %>
        </div>


        <div class="actions">
          <%= f.submit "Añadir Autobús", class: "btn btn-primary" %> <br><br>
        </div>
        <% end %>
              
      </div>
    </div>
    <% end %>  

    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3>Itinerario</h3>
        <hr>
      </div>
      <div class="panel-body">
      <div class="row">
        <% @routes.order('id ASC').each_with_index do |route, i| %>
        <div class="col-sm-6">
          <h4><%= i+1 %>.- <%= route.place %>    | <span><%= link_to 'Eliminar', record_route_path(@record, route), method: :delete, data: { confirm: 'Are you sure?' } %></span> |</h4>

        </div>
        <% end %>
      </div>

      <%= form_for [@record, @route], :html => {:id => 'route_form'} do |f| %>

      <div class="field">
        <%= f.label :Nuevo_lugar %><br>
        <%= f.text_field :place, id: 'searchTextField' %>
      </div>


      <div class="actions">
        <%= f.submit "Añadir Lugar", class: "btn btn-primary" %> <br><br>
      </div>
      <% end %>
      </div>
    </div>

    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3>Pagos</h3>
        <hr>
      </div>
      <div class="panel-body">
<div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <th>Método</th>
            <th>Núm Recibo</th>
            <th>Fecha</th>
            <th>Cantidad</th>
            <th>  </th>
          </thead>
          <tbody>


            <% @payments.each do |payment| %>
            <tr>
              <td><%= payment.metodo %></td>
              <td><%= payment.num_recibo %></td>
              <td><%= payment.try(:fecha).strftime(" %b-%d-%Y") %></td>
              <td><%= payment.cantidad %></td>
              <td><%= link_to 'Eliminar', record_payment_path(@record, payment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
            
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Total:</td>
              <td><%= @record.sum_payments %></td>
              <td></td>
            </tr>

          </tbody>
        </table>
      </div>

      <%= form_for [@record, @payment], :html => {:id => 'payment_form'} do |f| %>

      <div class="row">
        <div class="col-sm-3">
          <h4><%= f.label :metodo %></h4>
          <p> <%= f.select :metodo, [["Efectivo"], ["Cheque"], ["Tranferencia"], ["Tarjeta"]], {:prompt => 'Método de pago'}%></p>
        </div>

        <div class="col-sm-3">
          <h4><%= f.label :num_recibo %></h4>
          <p><%= f.text_field :num_recibo, required: true %></p>
        </div>

        <div class="col-sm-3">
          <h4><%= f.label :fecha %></h4>
          <p><%= f.date_field :fecha, required: true %></p>
        </div>

        <div class="col-sm-3">
          <h4><%= f.label :cantidad %></h4>
          <p><%= f.number_field :cantidad, step: :any, required: true %></p>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Añadir Pago", class: "btn btn-primary" %> <br><br>
      </div>
      <% end %>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3>Precios</h3>
        <hr>
      </div>
      <div class="panel-body">
<div class="row">
        <div class="col-sm-6">
          <h4>Precio: <a href="#" id="14"> <span class="grande fa fa-pencil"></span></a></h4>
          <p><%= best_in_place [@record], :precio, :place_holder => "Añande precio", :activator => "#14"%></p>
        </div>
        <div class="col-sm-6">
          <h4>Precio Final: <a href="#" id="35"> <span class="grande fa fa-pencil"></span></a></h4>
          <p><%= best_in_place [@record], :precio_final, :place_holder => "Añande precio final", :activator => "#35"%></p>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3>Cobranza</h3>
        <hr>
      </div>
      <div class="panel-body">
<div class="row">
        <div class="col-sm-4">
          <h4>Precio Final:</h4>
          <p><%=@record.try(:precio_final) %></p>
        </div>
        <div class="col-sm-4">
          <h4>Cobrado:</h4>
          <p><%=@record.try(:sum_payments) %></p>
        </div>
        <div class="col-sm-4">
          <h4>Debe:</h4>
          <p><%=@totis = @record.try(:sum_deuda) %></p>
        </div>
      </div>
      <% if  @totis < 1%>
      <div id="status">
        <div class="row">
          <ul>
            <%= best_in_place [@record], :status_admin, as: :checkbox, collection: {true: "#{'<li class = "strike"><h5>Cobrado</h5></li>'}".html_safe, false: "#{'<li class = "strikero"><h5>Por Cobrar</h5></li>'}".html_safe}%> 
          </ul>
        </div>
      </div>
      <% end %>
      </div>
    </div>
  </div>
  
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3>Avance</h3>
        <hr>
      </div>
      <div class="panel-body">
        <div class="center">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="progress blue">
                <span class="progress-left">
                  <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                  <span class="progress-bar"></span>
                </span>
                <div id="results">
                  <%= render 'results' %>
                </div>
              </div>
            </div>
          </div>
          <h6>Actualizado hace: <%= time_ago_in_words(@record.updated_at) %></h6>
        </div>

        <br><br>

      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3>Cliente</h3>
        <h4>| <%= link_to "Cambiar Cliente", edit_record_path(@record) %> |</h4>
        <hr>
      </div>
      <div class="panel-body">
<div class="row">

        <div class="col-sm-3">
          <h4>Alias:</h4>
          <p><%= @record.client.try(:alias) %></p>
        </div>

        <div class="col-sm-3">
          <h4>Razón Social:</h4>
          <p><%= @record.client.try(:razon_social) %></p>
        </div>

        <div class="col-sm-2">
          <h4>R.F.C.:</h4>
          <p><%= @record.client.try(:rfc) %></p>
        </div>

        <div class="col-sm-2">
          <h4>Email:</h4>
          <p><%= @record.client.try(:email) %></p>
        </div>

        <div class="col-sm-2">
          <h4>Teléfono:</h4>
          <p><%= @record.client.try(:telefono) %></p>
        </div>

      </div>

<div class="row">

        <div class="col-sm-3">
          <h4>Nombre Cobro:</h4>
          <p><%= @record.client.try(:nombre_cobro) %></p>
        </div>

        <div class="col-sm-3">
          <h4>Teléfono Cobro:</h4>
          <p><%= @record.client.try(:telefono_cobro) %></p>
        </div>

        <div class="col-sm-3">
          <h4>Email Cobro:</h4>
          <p><%= @record.client.try(:email_cobro) %></p>
        </div>

        <div class="col-sm-3">
          <%#= link_to "Editar datos de Cliente", edit_client_path(@record.client), class: "btn btn-primary" %>
        </div>
      </div>

      </div>
    </div>
  </div>  
</div>

<hr>

<h4>Precio total: <%= number_to_currency @record.try(:precio_final) %></h4>
<h6>Actualizado hace: <%= time_ago_in_words(@record.updated_at) %></h6>
<h4>Precio por autobús (<%=@record.services.count %> autobuses) sugerido: <%= number_to_currency @record.try(:precio_final)/@record.services.count %></h4>

<div class="row">
  <% @services.each_with_index do |service, i| %>
  <div class="col-sm-4">
    <div class="panel panel-headline">
      <div class="panel-heading">
      <h3><%= service.bus.numero %></h3>
      <hr>
      </div>

      <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <h4 class="upper center grey">PRECIOS</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h4>Precio X unidad <a href="#" id="27-<%=i%>"> <span class="grande fa fa-pencil"></span></a></h4>
          <p><%= best_in_place [@record, service], :precio_unidad, :activator => "#27-#{i}"%></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h4 class="upper center grey">GASTOS</h4>
        </div>
      </div>
      <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <th>Gasto</th>
            <th>Cantidad</th>
          </thead>
          <tbody>
            <tr>
              <td>Casetas: <a href="#" id="16-<%=i%>"> <span class="grande fa fa-pencil"></span></a></td>
              <td><%=best_in_place [@record, service], :caseta, :activator => "#16-#{i}"%></td>
            </tr>
            <tr>
              <td>Hotel: <a href="#" id="17-<%=i%>"> <span class="grande fa fa-pencil"></span></a></td>
              <td><%=best_in_place [@record, service], :hotel, :activator => "#17-#{i}"%></td>
            </tr>
            <tr>
              <td>Viáticos: <a href="#" id="18-<%=i%>"> <span class="grande fa fa-pencil"></span></a></td>
              <td><%=best_in_place [@record, service], :viaticos, :activator => "#18-#{i}"%></td>
            </tr>
            <tr>
              <td>Estacionamientos: <a href="#" id="19-<%=i%>"> <span class="grande fa fa-pencil"></span></a></td>
              <td><%=best_in_place [@record, service], :estacionamientos, :activator => "#19-#{i}"%></td>
            </tr>
            <tr>
              <td>Lavadas: <a href="#" id="20-<%=i%>"> <span class="grande fa fa-pencil"></span></a></td>
              <td><%=best_in_place [@record, service], :lavadas, :activator => "#20-#{i}"%></td>
            </tr>
            <tr>
              <td>Aeropuerto: <a href="#" id="21-<%=i%>"> <span class="grande fa fa-pencil"></span></a></td>
              <td><%=best_in_place [@record, service], :aeropuerto, :activator => "#21-#{i}"%></td>
            </tr>
            <tr>
              <td>Otros: <a href="#" id="23-<%=i%>"> <span class="grande fa fa-pencil"></span></a></td>
              <td><%=best_in_place [@record, service], :otros, :activator => "#23-#{i}"%></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Total:</td>
              <td><%= service.sum_gastos%></td>
            </tr>
          </tbody>
        </table>
      </div>



      <div class="row">
        <%= link_to "Eliminar Autobús", record_service_path(@record, service), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-block" %> <br><br>
      </div>
      </div>

    </div>
  </div>
  <% end %>
</div>

<% if @record.services.count > 0 %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to 'Ver Reporte', record_path(@record, :format => 'pdf'), class: "btn btn-primary btn-block", :target => "_blank" %>
    <!-- For pdf debugging -->
    <%#= link_to 'Ver Reporte - HTML', record_path(@record, :format => 'pdf', debug: true), class: "btn btn-primary btn-block", :target => "_blank" %>
  </div>
</div>
<% end %>
<br><br>



<!-- Autocomplete -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCXph4Sx9MklyoSlZ4JH-FCryYgRRgWi4&libraries=places"></script>
<script>
  function initialize() {
    var options = {
      types: ['(cities)'],
    };

    var input = document.getElementById('searchTextField');
    var autocomplete = new google.maps.places.Autocomplete(input, options);
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>



<script>
  $(document).ready(function() {
    /* Activating Best In Place */
    jQuery(".best_in_place").best_in_place();
  });
</script>

<!-- <script>
  $('.best_in_place').bind("ajax:success", function(){
    // alert('Name updated');
    location.reload();
  });

</script> -->

<script> 
  $.datepicker.setDefaults({ dateFormat: 'M-dd-yy' });
</script>


