<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5>Servicio: <%= @record.id %></h5>
        </div>
        <div class="card-block">
            <h6>Registro creado por: <%= @record.user.name %> </h6>
            <h6>Status Op: <%= best_in_place [@record], :status_op, :as => :select, :collection => {"Prob Baja" => "Prob Baja", "Prob Media" => "Prob Media", "Prob Alta" => "Prob Alta", "Venta" => "Venta"} %></h6>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5 class=""><%= @record.title %></h5>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Fecha de Salida:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.start_time.strftime(" %b-%d-%Y") %>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Fecha de Regreso:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.end_time.strftime(" %b-%d-%Y") %>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Hora de Salida:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.initial_time %>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Hora de Regreso:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.finish_time %>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Número de Pasajeros:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.numero_pasajeros %>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Número de Camiones:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.numero_de_camiones %>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Lugar de Salida:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.lugar_salida %>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Referencia de Salida:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.referencia_salida %>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Persona de Referencia:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.nombre_referencia %>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Teléfono de Referencia:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.telefono_referencia %>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">¿Requiere Factura?:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.factura %>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5"># de Factura o Recibo:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.num_factura %>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Observaciones:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.observaciones %>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Condiciones:</span>
                    </h6>
                </div>
                <div class="col-md-3 mt-3">
                    <h6 class="">
                        <%= @record.condiciones %>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5 class="">Autobuses: <%=@record.services.count%>/<%= @record.numero_de_camiones %></h5>
        </div>
        <div class="card-block">
            <h6 class="">Precio total: <%= number_to_currency @record.try(:precio_final) %></h6>
            <h6>Actualizado hace: <%= time_ago_in_words(@record.updated_at) %></h6>
            <h6>Precio por autobús (<%=@record.services.count %> autobuses) sugerido: <%= number_to_currency @record.try(:precio_final)/@record.services.count %></h6>
            <div class="table-responsive mt-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Autobus</th>
                            <th>Precio X unidad</th>
                            <th>Casetas</th>
                            <th>Hotel</th>
                            <th>Viáticos</th>
                            <th>Estacionamientos</th>
                            <th>Lavadas</th>
                            <th>Aeropuerto</th>
                            <th>Otros</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @services.each do |service| %>
                            <tr class="text-center">
                                <td><%= service.bus.numero %></td>
                                <td><%= service.precio_unidad %></td>
                                <td><%= service.caseta %></td>
                                <td><%= service.hotel %></td>
                                <td><%= service.viaticos %></td>
                                <td><%= service.estacionamientos %></td>
                                <td><%= service.lavadas %></td>
                                <td><%= service.aeropuerto %></td>
                                <td><%= service.otros %></td>
                                <td><%= service.sum_gastos %></td>
                                <td><%= link_to "Eliminar Autobús", record_service_path(@record, service), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5 class="">Itinerario</h5>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-12">
                    <% @routes.order('id ASC').each_with_index do |route, i| %>
                      <h6><%= i+1 %>. <%= route.place %> <span><%= link_to 'Eliminar', record_route_path(@record, route), method: :delete, data: { confirm: 'Are you sure?' } %></span></h6>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5 class="">Pagos</h5>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table">
                  <thead>
                    <th>Método</th>
                    <th>Núm Recibo</th>
                    <th>Fecha</th>
                    <th>Cantidad</th>
                    <th>  </th>
                  </thead>
                  <tbody>
                    <% @payments.each do |payment| %>
                    <tr>
                      <td><%= payment.metodo %></td>
                      <td><%= payment.num_recibo %></td>
                      <td><%= payment.try(:fecha).strftime(" %b-%d-%Y") %></td>
                      <td><%= payment.cantidad %></td>
                      <td><%= link_to 'Eliminar', record_payment_path(@record, payment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                    <% end %>
                    <tr>
                      <td></td>
                      <td></td>
                      <th>Total:</th>
                      <th><%= @record.sum_payments %></th>
                      <td></td>
                    </tr>

                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5 class="">Precios</h5>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-md-6">
                    <h6 class="">
                        <span class="text-muted m-r-5">Precio:</span>
                        <%= @record.precio %>
                    </h6>
                </div>
                <div class="col-md-6">
                    <h6 class="">
                        <span class="text-muted m-r-5">Precio Final:</span>
                        <%= @record.precio_final %>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5 class="">Cobranza</h5>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-md-4">
                    <h6 class="">
                        <span class="text-muted m-r-5">Precio Final:</span>
                        <%= @record.precio_final %>
                    </h6>
                </div>
                <div class="col-md-4">
                    <h6 class="">
                        <span class="text-muted m-r-5">Cobrado:</span>
                        <%= @record.sum_payments %>
                    </h6>
                </div>
                <div class="col-md-4">
                    <h6 class="">
                        <span class="text-muted m-r-5">Debe:</span>
                        <%= @record.sum_deuda %>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5 class="">Avance</h5>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-md-4">
                    <h6 class="">
                        <span class="text-muted m-r-5">Precio Final:</span>
                        <%= @record.sum_total %>%
                    </h6>
                </div>
                <div class="col-md-4">
                    <h6 class="">
                        <span class="text-muted m-r-5">Actualizado hace:</span>
                        <%= time_ago_in_words(@record.updated_at) %>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5 class="">Cliente &nbsp;&nbsp;<small><%= link_to "Cambiar Cliente", edit_record_path(@record) %></small></h5>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-md-6">
                    <h6 class="">
                        <span class="text-muted m-r-5">Alias:</span>
                        <%= @record.client.try(:alias) %>
                    </h6>
                </div>
                <div class="col-md-6">
                    <h6 class="">
                        <span class="text-muted m-r-5">Razón Social:</span>
                        <%= @record.client.try(:razon_social) %>
                    </h6>
                </div>
                <div class="col-md-6 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">R.F.C.:</span>
                        <%= @record.client.try(:rfc) %>
                    </h6>
                </div>
                <div class="col-md-6 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Email:</span>
                        <%= @record.client.try(:email) %>
                    </h6>
                </div>
                <div class="col-md-6 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Teléfono:</span>
                        <%= @record.client.try(:telefono) %>
                    </h6>
                </div>
                <div class="col-md-6 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Nombre Cobro:</span>
                        <%= @record.client.try(:nombre_cobro) %>
                    </h6>
                </div>
                <div class="col-md-6 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Teléfono Cobro:</span>
                        <%= @record.client.try(:telefono_cobro) %>
                    </h6>
                </div>
                <div class="col-md-6 mt-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Email Cobro:</span>
                        <%= @record.client.try(:email_cobro) %>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5 class="">Reporte</h5>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-md-12">
                    <%= link_to 'Ver Reporte', record_path(@record, :format => 'pdf'), class: "btn btn-primary", :target => "_blank" %>
                </div>
            </div>
        </div>
    </div>
</div>
