<h2>Servicio: <%= @record.id %></h2>

<h5>Registro creado por: <%= @record.user.name %> </h5>

<div class="row">
  <div id="status">
    <ul>
      <li class="strike"><h5>Status Op: <%= best_in_place [@record], :status_op, :as => :select, :collection => {"Prob Baja" => "Prob Baja", "Prob Media" => "Prob Media", "Prob Alta" => "Prob Alta", "Venta" => "Venta"} %></h5></li>

      <%= best_in_place [@record], :status_admin, as: :checkbox, collection: {true: "#{'<li class = "strike"><h5>Cobrado</h5></li>'}".html_safe, false: "#{'<li class = "strikero"><h5>Por Cobrar</h5></li>'}".html_safe}%>

    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div id="formario">


      <h2><%= @record.title %></h2>

      <div class="row">
        <div class="col-sm-6">
          <h4>Fecha de Salida: <a href="#" id="1"> <span class="grande fa fa-pencil"></span></a></h4>
          <p><%= best_in_place @record, :start_time ,:type => :date, :activator => "#1", :display_with => Proc.new { |f| f.strftime(" %b-%d-%Y") }%></p>
        </div>

        <div class="col-sm-6">
          <h4>Fecha de Regreso: <a href="#" id="2"> <span class="grande fa fa-pencil"></span></a></h4>
          <p><%= best_in_place @record, :end_time ,:type => :date, :activator => "#2", :display_with => Proc.new { |f| f.strftime(" %b-%d-%Y") } %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <h4>Hora de Salida: <a href="#" id="3"> <span class="grande fa fa-pencil"></span></a></h4>
          <p><%= best_in_place @record, :initial_time, :type => :input, :activator => "#3", :place_holder => "00:00"%></p>
        </div>

        <div class="col-sm-6">
          <h4>Hora de Regreso: <a href="#" id="4"> <span class="grande fa fa-pencil"></span></a></h4>
          <p><%= best_in_place @record, :finish_time, :type => :input, :activator => "#4", :place_holder => "00:00" %></p>
        </div>
      </div>


      <br><br>
      <div class="row">
        <div class="col-sm-6">
          <h4>Número de Pasajeros: <a href="#" id="5"> <span class="grande fa fa-pencil"></span></a></h4>
          <p><%= best_in_place [@record], :numero_pasajeros, :place_holder => "Añadir número de pasajeros", :activator => "#5" %></p>
        </div>

        <div class="col-sm-6">
          <h4>Número de Camiones: <a href="#" id="6"> <span class="grande fa fa-pencil"></span></a></h4>
          <p><%= best_in_place [@record], :numero_de_camiones, :place_holder => "Añande # camiones", :activator => "#6"%></p>
        </div>
      </div>

      <br><br>
      <div class="row">
        <div class="col-sm-6">
          <h4>Lugar de Salida: <a href="#" id="7"> <span class="grande fa fa-pencil"></span></a></h4>
          <p><%= best_in_place [@record], :lugar_salida, :place_holder => "Añande lugar de salida", :activator => "#7"%></p>
        </div>

        <div class="col-sm-6">
          <h4>Referencia de Salida: <a href="#" id="8"> <span class="grande fa fa-pencil"></span></a></h4>
          <p><%= best_in_place [@record], :referencia_salida, :place_holder => "Añande referencia de salida", :activator => "#8"%></p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <h4>Persona de Referencia: <a href="#" id="9"> <span class="grande fa fa-pencil"></span></a></h4>
          <p><%= best_in_place [@record], :nombre_referencia, :place_holder => "Añande nombre referencia", :activator => "#9"%></p>
        </div>

        <div class="col-sm-6">
          <h4>Teléfono de Referencia: <a href="#" id="10"> <span class="grande fa fa-pencil"></span></a></h4>
          <p><%= best_in_place [@record], :telefono_referencia, :place_holder => "Añande teléfono referencia", :activator => "#10"%></p>
        </div>
      </div>


      <br><br>
      <div class="row">
        <div class="col-sm-6">
          <h4>¿Requiere Factura? <a href="#" id="11"> <span class="grande fa fa-pencil"></span></a></h4>
          <p><%= best_in_place [@record], :factura, as: :checkbox, collection: {false: "Sin factura", true: "Con Factura"}, :activator => "#11"%></p>
        </div>

        <div class="col-sm-6">
          <h4># de Factura o Recibo <a href="#" id="12"> <span class="grande fa fa-pencil"></span></a></h4>
          <p><%= best_in_place [@record], :num_factura, :place_holder => "Añande # factura o recibo", :activator => "#12"%></p>
        </div>
      </div>


      <br><br>
      <div class="row">
        <div class="col-sm-12">
          <h4>Observaciones: <a href="#" id="13"> <span class="grande fa fa-pencil"></span></a></h4>
          <p><%= best_in_place [@record], :observaciones, :as => :textarea, :place_holder => "Añande observaciones", :activator => "#13"%></p>
          <br>
        </div>
      </div>

    </div>

    <div id="formario">

      <h2>Precios</h2>
      <div class="row">
        <div class="col-sm-6">
          <h4>Precio: <a href="#" id="14"> <span class="grande fa fa-pencil"></span></a></h4>
          <p><%= best_in_place [@record], :precio, :place_holder => "Añande precio", :activator => "#14"%></p>
        </div>
        <div class="col-sm-6">
          <h4>Precio Final: <a href="#" id="35"> <span class="grande fa fa-pencil"></span></a></h4>
          <p><%= best_in_place [@record], :precio_final, :place_holder => "Añande precio final", :activator => "#35"%></p>
        </div>
      </div>
    </div>

    <div id="formario">
      <h2>Avance Registro</h2>

<div class="center">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value"><%= @record.sum_total %>%</div>
            </div>
        </div>
    </div>
</div>

      <br><br>
    </div>


  </div>


  <div class="col-md-6">

<% if @record.services.count < @record.numero_de_camiones %>
    <div id="formario">
      <h2>Autobuses: <%=@record.services.count%>/<%= @record.numero_de_camiones %></h2>
      <%= form_for [@record, @service], :html => {:id => 'service_form'} do |f| %>

      <div class="field">
        <%= f.label :Autobús %><br>
        <%= f.select :bus_id, Bus.all.collect { |p| [ p.numero, p.id ] } %>
      </div>


      <div class="actions">
        <%= f.submit "Añadir Autobús", class: "button button_red" %> <br><br>
      </div>
      <% end %>
    </div>
<% end %>

    <div id="formario">
      <h2>Itinerario</h2>

      <h3>Distancia: <%= best_in_place [@record], :distancia, :place_holder => "Añande distancia", :activator => "#26" %> <a href="#" id="26"> <span class="grande fa fa-pencil"></span></a></h3>   

      <div class="row">
        <% @routes.each_with_index do |route, i| %>
        <div class="col-sm-6">
          <h4><%= i+1 %>.- <%= route.place %>    | <span><%= link_to 'Eliminar', record_route_path(@record, route), method: :delete, data: { confirm: 'Are you sure?' } %></span> |</h4>

        </div>
        <% end %>
      </div>

      <%= form_for [@record, @route], :html => {:id => 'route_form'} do |f| %>

      <div class="field">
        <%= f.label :Nuevo_lugar %><br>
        <%= f.text_field :place %>
      </div>


      <div class="actions">
        <%= f.submit "Añadir Lugar", class: "button button_red" %> <br><br>
      </div>
      <% end %>

    </div>

    <div id="formario">
      <h2>Pagos</h2>
      <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <th>Método</th>
            <th>Núm Recibo</th>
            <th>Fecha</th>
            <th>Cantidad</th>
            <th colspan="1"></th>
          </thead>
          <tbody>

            <tr>
              <% @payments.each do |payment| %>
              <td><%= payment.metodo %></td>
              <td><%= payment.num_recibo %></td>
              <td><%= payment.fecha.strftime(" %b-%d-%Y") %></td>
              <td><%= payment.cantidad %></td>
              <td><%= link_to 'Eliminar', record_payment_path(@record, payment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Total:</td>
              <td><%= @record.sum_payments %></td>
            </tr>

          </tbody>
        </table>
      </div>

      <%= form_for [@record, @payment], :html => {:id => 'payment_form'} do |f| %>

      <div class="row">
        <div class="col-sm-3">
          <h4><%= f.label :metodo %></h4>
          <p> <%= f.select :metodo, [["Efectivo"], ["Cheque"], ["Tranferencia"], ["Tarjeta"]], {:prompt => 'Método de pago'}%></p>
        </div>

        <div class="col-sm-3">
          <h4><%= f.label :num_recibo %></h4>
          <p><%= f.text_field :num_recibo, required: true %></p>
        </div>

        <div class="col-sm-3">
          <h4><%= f.label :fecha %></h4>
          <p><%= f.date_field :fecha %></p>
        </div>

        <div class="col-sm-3">
          <h4><%= f.label :cantidad %></h4>
          <p><%= f.number_field :cantidad, required: true %></p>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Añadir Pago", class: "button button_red" %> <br><br>
      </div>
      <% end %>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="formario">
      <h2>Cliente |<span><%= link_to "Editar", edit_record_path(@record) %></span>|</h2>
      <div class="row">

        <div class="col-sm-3">
          <h4>Alias:</h4>
          <p><%= @record.client.alias %></p>
        </div>

        <div class="col-sm-3">
          <h4>Razón Social:</h4>
          <p><%= @record.client.razon_social %></p>
        </div>

        <div class="col-sm-2">
          <h4>R.F.C.:</h4>
          <p><%= @record.client.rfc %></p>
        </div>

        <div class="col-sm-2">
          <h4>Email:</h4>
          <p><%= @record.client.email %></p>
        </div>

        <div class="col-sm-2">
          <h4>Teléfono:</h4>
          <p><%= @record.client.telefono %></p>
        </div>

      </div>

      <div class="row">

        <div class="col-sm-3">
          <h4>Nombre Cobro:</h4>
          <p><%= @record.client.nombre_cobro %></p>
        </div>

        <div class="col-sm-3">
          <h4>Teléfono Cobro:</h4>
          <p><%= @record.client.telefono_cobro %></p>
        </div>

        <div class="col-sm-3">
          <h4>Email Cobro:</h4>
          <p><%= @record.client.email_cobro %></p>
        </div>
      </div>
      <br>

    </div>
  </div>
</div>


<div class="row">
  <% @services.each_with_index do |service, i| %>
  <div class="col-sm-4">
    <div id="formario">
      <h2><%= service.bus.numero %></h2>
      <div class="row">
        <div class="col-md-12">
          <h4 class="upper center grey">PRECIOS</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <h4>X unidad <a href="#" id="27-<%=i%>"> <span class="grande fa fa-pencil"></span></a></h4>
          <p><%= best_in_place [@record, service], :precio_unidad, :activator => "#27-#{i}"%></p>
        </div>

        <div class="col-sm-6">
          <h4>Día extra <a href="#" id="28-<%=i%>"> <span class="grande fa fa-pencil"></span></a></h4>
          <p><%= best_in_place [@record, service], :dia_extra, :activator => "#28-#{i}"%></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h4 class="upper center grey">GASTOS</h4>
        </div>
      </div>
      <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <th>Gasto</th>
            <th>Cantidad</th>
          </thead>
          <tbody>
            <tr>
              <td>Casetas: <a href="#" id="16-<%=i%>"> <span class="grande fa fa-pencil"></span></a></td>
              <td><%=best_in_place [@record, service], :caseta, :activator => "#16-#{i}"%></td>
            </tr>
            <tr>
              <td>Hotel: <a href="#" id="17-<%=i%>"> <span class="grande fa fa-pencil"></span></a></td>
              <td><%=best_in_place [@record, service], :hotel, :activator => "#17-#{i}"%></td>
            </tr>
            <tr>
              <td>Viáticos: <a href="#" id="18-<%=i%>"> <span class="grande fa fa-pencil"></span></a></td>
              <td><%=best_in_place [@record, service], :viaticos, :activator => "#18-#{i}"%></td>
            </tr>
            <tr>
              <td>Estacionamientos: <a href="#" id="19-<%=i%>"> <span class="grande fa fa-pencil"></span></a></td>
              <td><%=best_in_place [@record, service], :estacionamientos, :activator => "#19-#{i}"%></td>
            </tr>
            <tr>
              <td>Lavadas: <a href="#" id="20-<%=i%>"> <span class="grande fa fa-pencil"></span></a></td>
              <td><%=best_in_place [@record, service], :lavadas, :activator => "#20-#{i}"%></td>
            </tr>
            <tr>
              <td>Aeropuerto: <a href="#" id="21-<%=i%>"> <span class="grande fa fa-pencil"></span></a></td>
              <td><%=best_in_place [@record, service], :aeropuerto, :activator => "#21-#{i}"%></td>
            </tr>
            <tr>
              <td>Diesel: <a href="#" id="22-<%=i%>"> <span class="grande fa fa-pencil"></span></a></td>
              <td><%=best_in_place [@record, service], :diesel, :activator => "#22-#{i}"%></td>
            </tr>
            <tr>
              <td>Otros: <a href="#" id="23-<%=i%>"> <span class="grande fa fa-pencil"></span></a></td>
              <td><%=best_in_place [@record, service], :otros, :activator => "#23-#{i}"%></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Total:</td>
              <td><%= service.sum_gastos%></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h4 class="upper center grey">KILOMETRAJE</h4>
        </div>
      </div>

      <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <th>Km Inicial <a href="#" id="24-<%=i%>"> <span class="grande fa fa-pencil"></span></a></th>
            <th>Km Final <a href="#" id="25-<%=i%>"> <span class="grande fa fa-pencil"></span></a></th>
          </thead>
          <tr>
            <td><%= best_in_place [@record, service], :km_inicio, :activator => "#24-#{i}"%></td>
            <td><%= best_in_place [@record, service], :km_fin, :activator => "#25-#{i}"%></td>
          </tr>
        </table>
      </div>

      <div class="row">
        <%= link_to "Eliminar Autobús", record_service_path(@record, service), method: :delete, data: { confirm: 'Are you sure?' }, class: "button button_red button_block" %> <br><br>
      </div>

    </div>
  </div>
  <% end %>
</div>

<% if @record.services.count > 0 %>
<div class="row">
<div class="col-md-6 col-md-offset-3">
  <%= link_to 'Ver Reporte', record_path(@record, :format => 'pdf'), class: "button button_red button_block", :target => "_blank" %>
  </div>
</div>
<% end %>



<script>
  $(document).ready(function() {
  /* Activating Best In Place */
  jQuery(".best_in_place").best_in_place();
});
</script>

<script> 
$.datepicker.setDefaults({ dateFormat: 'M-dd-yy' });
</script>


