<div id="step-4" class="tab-pane step-content" style="display: block;">
    <h5>Información del viaje</h5>
    <hr>
    <%= form_for(@record) do |f| %>
		<% if @record.errors.any? %>
    		<div id="error_explanation">
    			<h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

    			<ul>
    				<% @record.errors.full_messages.each do |message| %>
    				<li><%= message %></li>
    				<% end %>
    			</ul>
    		</div>
		<% end %>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label 'Lugar de Salida' %>
                    <%= f.text_field :lugar_salida, required:true, placeholder: 'Añande lugar de salida', class: "form-control" %>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label 'Referencia de Salida' %>
                    <%= f.text_field :referencia_salida, required:true, placeholder: 'Añande referencia de salida', class: "form-control" %>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label 'Persona de Referencia' %>
                    <%= f.text_field :nombre_referencia, required:true, placeholder: 'Añande nombre referencia', class: "form-control" %>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label 'Teléfono de Referencia' %>
                    <%= f.text_field :telefono_referencia, required:true, placeholder: 'Añande teléfono referencia', class: "form-control" %>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label '¿Requiere Factura?' %><br>
                    <%= f.select :factura, [["Sin factura", false], ["Con Factura", true]], {:prompt => ''}, {:required => true, class: "form-control"} %>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label '# de Factura o Recibo' %>
                    <%= f.text_field :num_factura, required:true, placeholder: 'Añande # factura o recibo', class: "form-control" %>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label 'Observaciones' %>
                    <%= f.text_area :observaciones, rows: 5, required:true, placeholder: 'Añande observaciones', class: "form-control" %>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label 'Condiciones' %>
                    <%= f.text_area :condiciones, rows: 5, required:true, placeholder: 'Añande condiciones', class: "form-control" %>
                </div>
            </div>
            <div class="col-md-12 text-right">
                <%= f.hidden_field :status, value: 'Autobuses' %>
                <%= hidden_field_tag :step, 4 %>
                <%= f.submit 'Siguiente', class: "btn btn-primary" %>
            </div>
        </div>
	<% end %>
</div>
