<%= form_for(@quotation) do |f| %>
  <% if @quotation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quotation.errors.count, "error") %> prohibited this quotation from being saved:</h2>

      <ul>
      <% @quotation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :origen %><br>
    <%= f.select :origen, [["Página de internet"], ["Recomendación"], ["cliente habitual"], ["Medios impresos"], ["Facebook"], ["Cotización por correo"]], {:prompt => '¿Cómo se enteró?'}, {:required => true}%>
  </div>
<div class="row">
  <div class="col-sm-4">
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, required: true %>
  </div>
  </div>

  <div class="col-sm-4">
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono %>
  </div>
  </div>

  <div class="col-sm-4">
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, required: true %>
  </div>
  </div>

</div>

<div class="row">
  <div class="col-sm-4">
  <div class="field">
    <%= f.label :num_dias %><br>
    <%= f.text_field :num_dias %>
  </div>
  </div>

  <div class="col-sm-4">
  <div class="field">
    <%= f.label :fecha_inicio %><br>
    <%= f.date_field :fecha_inicio %>
  </div>
  </div>

  <div class="col-sm-4">
  <div class="field">
    <%= f.label :fecha_fin %><br>
    <%= f.date_field :fecha_fin %>
  </div>
  </div>

</div>
  <div class="actions">
    <%= f.submit "Crear Cotización" ,class: "button button_red" %>
  </div>
<% end %>
