<div class="row">
  <div class="col-md-12">
    <div id="formario">

<p id="notice"><%= notice %></p>

<h1>Listing Quotations</h1>

<%= search_form_for @q do |f| %>

      
      <div class="row">
      <div class="col-md-6">
      <h6>Registro:</h6>
      <%= f.search_field :id_eq, placeholder: "Buscar número de cotización"  %>
      </div>

      <div class="col-md-6">
      <h6>Cliente:</h6>
      <%= f.search_field :email_or_nombre_cont, placeholder: "Buscar Cotización"  %>
      </div>

      </div>
      

      <%= f.submit "Buscar", class: "button button_red button_block" %>
      <% end %>

<%= link_to 'Nueva Cotización', new_quotation_path, class: "button button_red" %>
<div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Email</th>
      <th>Origen</th>
      <th>Num dias</th>
      <th>Fecha inicio</th>
      <th>Fecha fin</th>
      <th>Pasajeros</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotations.each do |quotation| %>
      <tr>
        <td><%= quotation.nombre %></td>
        <td><%= quotation.telefono %></td>
        <td><%= quotation.email %></td>
        <td><%= quotation.origen %></td>
        <td><%= quotation.num_dias %></td>
        <td><%= quotation.fecha_inicio.strftime(" %b-%d-%Y") %></td>
        <td><%= quotation.fecha_fin.strftime(" %b-%d-%Y") %></td>
        <td><%= quotation.pasajeros %></td>
        <td><%= quotation.user.name %></td>
        <td><%= link_to 'Ver más', quotation %></td>
        <td><%= link_to 'Editar', edit_quotation_path(quotation) %></td>
        <td><%= link_to 'Eliminar', quotation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>


</div>
</div>
</div>
