<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5>Busqueda de Cotizaciones</h5>
        </div>
        <div class="card-block">
            <%= search_form_for @q do |f| %>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <%= f.label :Registro %>
                            <%= f.search_field :id_eq, placeholder: "Buscar por número de cotización", class: "form-control" %>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <%= f.label :Cliente %>
                            <%= f.search_field :email_or_nombre_cont, placeholder: "Buscar por Cliente", class: "form-control" %>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <%= f.submit 'Buscar', class: "btn btn-primary" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>


<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5>Cotizaciones</h5>
            <% @years.reverse.each do |year| %>
              <% if year.to_s == @year.to_s %>
                <span class="mr-2"><%= year %></span>
              <% else %>
                <%= link_to year, quotations_path(year: year), class: "mr-2" %>
              <% end %>
            <% end %>
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Teléfono</th>
                            <th>Email</th>
                            <th>Origen</th>
                            <th>Num días</th>
                            <th>Fecha inicio</th>
                            <th>Fecha fin</th>
                            <th>Pasajeros</th>
                            <th>Usuario</th>
                            <th class="text-center">Status</th>
                            <th colspan="3"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @quotations.each do |quotation| %>
                          <tr>
                            <td><%= quotation.nombre %></td>
                            <td><%= quotation.telefono %></td>
                            <td><%= quotation.email %></td>
                            <td><%= quotation.origen %></td>
                            <td><%= quotation.num_dias %></td>
                            <td><%= quotation.try(:fecha_inicio).strftime(" %b-%d-%Y") %></td>
                            <td><%= quotation.try(:fecha_fin).strftime(" %b-%d-%Y") %></td>
                            <td><%= quotation.pasajeros %></td>
                            <td><%= quotation.user.name %></td>
                            <td class="text-center"><span class="label theme-bg f-12 text-white" style="border-radius: 15px;box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);"><%= quotation.status %></span></td>
                            <td><%= link_to 'Ver más', quotation %></td>
                            <td><%= link_to 'Editar', edit_quotation_path(quotation) %></td>
                            <td><%= link_to 'Eliminar', quotation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                          </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div style="display:flex; justify-content:center; align-items:center;">
                <% unless @quotations.blank? %>
                    <%= will_paginate @quotations, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
                <% end %>
            </div>
        </div>
    </div>
</div>
