<div class="row">
  <div class="col-md-12">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3>Busqueda de Cotizaciones:</h3>
        <hr>
      </div>
      <div class="panel-body">
        <%= search_form_for @q do |f| %>

      
      <div class="row">
      <div class="col-md-6">
      <label>Registro:</label>
      <%= f.search_field :id_eq, placeholder: "Buscar por número de cotización"  %>
      </div>

      <div class="col-md-6">
      <label>Cliente:</label>
      <%= f.search_field :email_or_nombre_cont, placeholder: "Buscar por Cliente"  %>
      </div>

      </div>
      
    <div class="row">
      <div class="col-md-3">
        <%= f.submit "Buscar", class: "btn btn-primary btn-block" %>
      </div>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-headline">

<div class="panel-heading">
<h3>Cotizaciones</h3>

<% @years.reverse.each do |year| %>
  <% if year.to_s == @year.to_s %>
    <span class="mr-5"><%= year %></span>
  <% else %>
    <%= link_to year, quotations_path(year: year), class: "mr-5" %>
  <% end %>
<% end %>

<hr>
</div>

<div class="panel-body">
<div class="content table-responsive table-full-width">
        <table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Teléfono</th>
      <th>Email</th>
      <th>Origen</th>
      <th>Num días</th>
      <th>Fecha inicio</th>
      <th>Fecha fin</th>
      <th>Pasajeros</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotations.each do |quotation| %>
      <tr>
        <td><%= quotation.nombre %></td>
        <td><%= quotation.telefono %></td>
        <td><%= quotation.email %></td>
        <td><%= quotation.origen %></td>
        <td><%= quotation.num_dias %></td>
        <td><%= quotation.try(:fecha_inicio).strftime(" %b-%d-%Y") %></td>
        <td><%= quotation.try(:fecha_fin).strftime(" %b-%d-%Y") %></td>
        <td><%= quotation.pasajeros %></td>
        <td><%= quotation.user.name %></td>
        <td><%= link_to 'Ver más', quotation %></td>
        <td><%= link_to 'Editar', edit_quotation_path(quotation) %></td>
        <td><%= link_to 'Eliminar', quotation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

</div>
<br>


</div>
</div>
</div>

<div class="row">
<div class="center">
<% unless @quotations.blank? %>
  <%= will_paginate @quotations %>
<% end %>
</div>
</div>
