<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5>Búsqueda general</h5>
        </div>
        <div class="card-block">
            <%= search_form_for @q do |f| %>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <%= f.label :Registro %>
                            <%= f.search_field :id_eq, placeholder: "Buscar por número de cotización", class: "form-control" %>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <%= f.label :Cliente %>
                            <%= f.search_field :email_or_nombre_cont, placeholder: "Buscar por Cliente", class: "form-control" %>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <%= f.label :Status %>
                            <%= f.select :status_eq, Quotation.statuses, {prompt: 'Select status'}, {class: "form-control"} %>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <%= f.submit 'Buscar', class: "btn btn-primary" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>


<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5>Cotizaciones</h5>
            <% @years.reverse.each do |year| %>
              <% if year.to_s == @year.to_s %>
                <span class="mr-2 label theme-bg2 f-15 text-white active" style="border-radius: 15px;box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);"><%= year %></span>
              <% else %>
                <%= link_to year, quotations_path(year: year), class: "mr-2" %>
              <% end %>
            <% end %>
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table" id="example">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Información</th>
                            <th>Num días</th>
                            <th>Fecha inicio</th>
                            <th>Fecha fin</th>
                            <th>Pasajeros</th>
                            <th class="text-center">Status</th>
                            <th>Usuario</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @quotations.each do |quotation| %>
                          <tr>
                            <td><%= quotation.id %></td>
                            <td><%= quotation.nombre %> <br> <i class="feather icon-smartphone"></i> <%= quotation.telefono %> <br> <i class="feather icon-mail"></i> <%= quotation.email %>  </td>
                            
                            <td><%= quotation.num_dias %></td>
                            <td><%= quotation.try(:fecha_inicio).strftime(" %b-%d-%Y") %></td>
                            <td><%= quotation.try(:fecha_fin).strftime(" %b-%d-%Y") %></td>
                            <td><i class="feather icon-users"></i> <%= quotation.pasajeros %></td>
                            <td class="text-center"><span class="label theme-bg f-12 text-white" style="border-radius: 15px;box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);"><%= quotation.status %></span></td>
                            <%
                              status = quotation.status
                              if status == 'Abierto'
                                path = edit_quotation_path(quotation)
                              elsif status == 'Itinerario'
                                path = itinerary_quotation_path(quotation)
                              elsif status == 'Distancia'
                                path = distance_quotation_path(quotation)
                              elsif status == 'Precios'
                                path = prices_quotation_path(quotation)
                              else
                                path = pdf_quotation_path(quotation)
                              end
                            %>
                            <td><i class="feather icon-user"></i>  <%= quotation.user.name %></td>
                            <td><%= link_to 'Ver más', path %></td>
                            <td><%= link_to 'Eliminar', quotation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                          </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div style="display:flex; justify-content:center; align-items:center;">
                <% unless @quotations.blank? %>
                    <%= will_paginate @quotations, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
                <% end %>
            </div>
        </div>
    </div>
</div>
