<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5>Cotizaci贸n #<%= @quotation.id %></h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <h6 class="">
                        <span class="text-muted m-r-5">Creada por:</span>
                    </h6>
                    <h6 class="">
                        <span class="text-muted m-r-5">Origen:</span>
                    </h6>
                </div>
                <div class="col-4">
                    <h6 class="">
                        <%= @quotation.user.name %>
                    </h6>
                    <h6 class="">
                        <%= @quotation.origen %>
                    </h6>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-4">
                    <h6 class="">
                        <span class="text-muted m-r-5">Nombre:</span>
                    </h6>
                    <h6 class="">
                        <span class="text-muted m-r-5">Telefono:</span>
                    </h6>
                    <h6 class="">
                        <span class="text-muted m-r-5">Email:</span>
                    </h6>
                    <h6 class="">
                        <span class="text-muted m-r-5">Num dias:</span>
                    </h6>
                    <h6 class="">
                        <span class="text-muted m-r-5">Fecha inicio:</span>
                    </h6>
                    <h6 class="">
                        <span class="text-muted m-r-5">Fecha fin:</span>
                    </h6>
                    <h6 class="">
                        <span class="text-muted m-r-5">Pasajeros:</span>
                    </h6>
                    <h6 class="">
                        <span class="text-muted m-r-5">Observaciones:</span>
                    </h6>
                    <h6 class="">
                        <span class="text-muted m-r-5">Distancia:</span>
                    </h6>
                </div>
                <div class="col-4">
                    <h6 class="">
                        <%= @quotation.nombre %>
                    </h6>
                    <h6 class="">
                        <%= @quotation.telefono %>
                    </h6>
                    <h6 class="">
                        <%= @quotation.email %>
                    </h6>
                    <h6 class="">
                        <%= @quotation.num_dias %>
                    </h6>
                    <h6 class="">
                        <%= @quotation.fecha_inicio %>
                    </h6>
                    <h6 class="">
                        <%= @quotation.fecha_fin %>
                    </h6>
                    <h6 class="">
                        <%= @quotation.pasajeros %>
                    </h6>
                    <h6 class="">
                        <%= @quotation.observaciones %>
                    </h6>
                    <h6 class="">
                        <%= @quotation.distancia %>
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h5 class="">Itinerario</h5>
        </div>
        <div class="card-body">
            <% @places.order('id ASC').each_with_index do |place, i| %>
                <h6><%= i+1 %>. <%= place.address %></h6>
                <% if place.latitude.present? %>

                <% else %>
                    <h6 class="rojo">No se encontr贸 la direcci贸n</h6>
                <% end %>
            <% end %>
            <div class="mt-5">
                <div id="map4" style="width:100%;height:400px;"></div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h5 class="">Precios</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <h6 class="">
                        <span class="text-muted m-r-5">Irizar pb 47 e irizar i6 51-53:</span>
                    </h6>
                </div>
                <div class="col-sm-4">
                    <h6 class="">
                        <%= @quotation.segmento1 %>
                    </h6>
                </div>
                <div class="col-sm-4">
                    <h6 class="">
                        <span class="text-muted m-r-5">Dia extra:</span>
                        <%= @quotation.dia_extra1 %>
                    </h6>
                </div>
                <div class="col-sm-4">
                    <h6 class="">
                        <span class="text-muted m-r-5">Irizar i6 47 e irizar century 53:</span>
                    </h6>
                </div>
                <div class="col-sm-4">
                    <h6 class="">
                        <%= @quotation.segmento2 %>
                    </h6>
                </div>
                <div class="col-sm-4">
                    <h6 class="">
                        <span class="text-muted m-r-5">Dia extra:</span>
                        <%= @quotation.dia_extra2 %>
                    </h6>
                </div>
                <div class="col-sm-4">
                    <h6 class="">
                        <span class="text-muted m-r-5">Volvo 9700 44 47:</span>
                    </h6>
                </div>
                <div class="col-sm-4">
                    <h6 class="">
                        <%= @quotation.segmento3 %>
                    </h6>
                </div>
                <div class="col-sm-4">
                    <h6 class="">
                        <span class="text-muted m-r-5">Dia extra:</span>
                        <%= @quotation.dia_extra3 %>
                    </h6>
                </div>
                <div class="col-sm-4">
                    <h6 class="">
                        <span class="text-muted m-r-5">Sprinter 20:</span>
                    </h6>
                </div>
                <div class="col-sm-4">
                    <h6 class="">
                        <%= @quotation.segmento4 %>
                    </h6>
                </div>
                <div class="col-sm-4">
                    <h6 class="">
                        <span class="text-muted m-r-5">Dia extra:</span>
                        <%= @quotation.dia_extra4 %>
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <h5 class="">Precios sugeridos por</h5>
                </div>
                <div class="col-4">
                    <h5 class=""><%= @quotation.distancia %> KM</h5>
                </div>
                <div class="col-4">
                    <h5 class=""><%= @quotation.num_dias %> dias</h5>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <h6 class="">
                        <span class="text-muted m-r-5">Irizar PB 47:</span>
                    </h6>
                    <h6 class="">
                        <span class="text-muted m-r-5">Irizar I6 51-53:</span>
                    </h6>
                    <h6 class="">
                        <span class="text-muted m-r-5">Irizar I6 47:</span>
                    </h6>
                    <h6 class="">
                        <span class="text-muted m-r-5">Irizar Century 53:</span>
                    </h6>
                    <h6 class="">
                        <span class="text-muted m-r-5">Volvo 9700 44-47:</span>
                    </h6>
                    <h6 class="">
                        <span class="text-muted m-r-5">Sprinter 20:</span>
                    </h6>
                </div>
                <div class="col-sm-4">
                    <h6 class="">
                        <%= number_to_currency @quotation.distancia * 22.5 %>
                    </h6>
                    <h6 class="">
                        <%= number_to_currency @quotation.distancia * 22.5 %>
                    </h6>
                    <h6 class="">
                        <%= number_to_currency @quotation.distancia * 21.25 %>
                    </h6>
                    <h6 class="">
                        <%= number_to_currency @quotation.distancia * 21.25 %>
                    </h6>
                    <h6 class="">
                        <%= number_to_currency @quotation.distancia * 20 %>
                    </h6>
                    <h6 class="">
                        <%= number_to_currency @quotation.distancia * 11.25 %>
                    </h6>
                </div>
                <div class="col-sm-4">
                    <h6 class="">
                        <%= number_to_currency @quotation.num_dias * 9000 %>
                    </h6>
                    <h6 class="">
                        <%= number_to_currency @quotation.num_dias * 9000 %>
                    </h6>
                    <h6 class="">
                        <%= number_to_currency @quotation.num_dias * 8500 %>
                    </h6>
                    <h6 class="">
                        <%= number_to_currency @quotation.num_dias * 8500 %>
                    </h6>
                    <h6 class="">
                        <%= number_to_currency @quotation.num_dias * 8000 %>
                    </h6>
                    <h6 class="">
                        <%= number_to_currency @quotation.num_dias * 4500 %>
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h5 class="">Reporte</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <%= link_to 'Ver Cotizaci贸n', quotation_path(@quotation, :format => 'pdf'), class: "btn btn-primary", :target => "_blank" %>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  function initMap() {

    var inicio = {lat: 19.5054552, lng: -99.1505334};
        // 
        <% @places.order('id ASC').each_with_index do |place, i| %>
        var address<%=i%> = {lat: <%= place.latitude.round(3) %>, lng: <%= place.longitude.round(3) %>};
        <% end %>
        // 
        var final = {lat: 19.5054552, lng: -99.1505334};


        var map = new google.maps.Map(document.getElementById('map4'), {
          center: inicio,
          scrollwheel: false,
          zoom: 7
        });

        var directionsDisplay = new google.maps.DirectionsRenderer({
          map: map
        });

        // Set destination, origin and travel mode.
        var request = {
          destination: final,
          waypoints: [
          <% @places.order('id ASC').each_with_index do |place, i| %>
          {location: address<%=i%>},
          <% end %>
          ],
          origin: inicio,
          travelMode: 'DRIVING'
        };


        // Pass the directions request to the directions service.
        var directionsService = new google.maps.DirectionsService();
        directionsService.route(request, function(response, status) {
          if (status == 'OK') {
            // Display the route on the map.
            directionsDisplay.setDirections(response);

          }
        });
      }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCXph4Sx9MklyoSlZ4JH-FCryYgRRgWi4&callback=initMap&libraries=places"></script>
