<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5>Cotización #<%= @quotation.id %></h5>
        </div>
        <div class="card-body">
            <h6 class="">
                <span class="text-muted m-r-5">Creada por:</span>
                <%= @quotation.user.name %>
            </h6>
            <h6 class="">
                <span class="text-muted m-r-5">Origen:</span>
                <%= @quotation.origen %>
            </h6>
            <hr>
            <h6 class="">
                <span class="text-muted m-r-5">Nombre:</span>
                <%= @quotation.nombre %>
            </h6>
            <h6 class="">
                <span class="text-muted m-r-5">Telefono:</span>
                <%= @quotation.telefono %>
            </h6>
            <h6 class="">
                <span class="text-muted m-r-5">Email:</span>
                <%= @quotation.email %>
            </h6>
            <h6 class="">
                <span class="text-muted m-r-5">Num_dias:</span>
                <%= @quotation.num_dias %>
            </h6>
            <h6 class="">
                <span class="text-muted m-r-5">Fecha_inicio:</span>
                <%= @quotation.fecha_inicio %>
            </h6>
            <h6 class="">
                <span class="text-muted m-r-5">Fecha_fin:</span>
                <%= @quotation.fecha_fin %>
            </h6>
            <h6 class="">
                <span class="text-muted m-r-5">Pasajeros:</span>
                <%= @quotation.pasajeros %>
            </h6>
            <h6 class="">
                <span class="text-muted m-r-5">Observaciones:</span>
                <%= @quotation.observaciones %>
            </h6>
            <h6 class="">
                <span class="text-muted m-r-5">Distancia:</span>
                <%= @quotation.distancia %>
            </h6>

            <h5 class="mt-5">Itinerario</h5>
            <hr>
            <% @places.order('id ASC').each_with_index do |place, i| %>
                <h6><%= i+1 %>. <%= place.address %></h6>
                <% if place.latitude.present? %>

                <% else %>
                    <h6 class="rojo">No se encontró la dirección</h6>
                <% end %>
            <% end %>

            <h5 class="mt-5">Precios</h5>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h6 class="">
                        <span class="text-muted m-r-5">Irizar pb 47 e irizar i6 51-53:</span>
                        <%= @quotation.segmento1 %>
                    </h6>
                </div>
                <div class="col-md-6">
                    <h6 class="">
                        <span class="text-muted m-r-5">Dia extra:</span>
                        <%= @quotation.dia_extra1 %>
                    </h6>
                </div>
                <div class="col-md-6">
                    <h6 class="">
                        <span class="text-muted m-r-5">Irizar i6 47 e irizar century 53:</span>
                        <%= @quotation.segmento2 %>
                    </h6>
                </div>
                <div class="col-md-6">
                    <h6 class="">
                        <span class="text-muted m-r-5">Dia extra:</span>
                        <%= @quotation.dia_extra2 %>
                    </h6>
                </div>
                <div class="col-md-6">
                    <h6 class="">
                        <span class="text-muted m-r-5">Volvo 9700 44 47:</span>
                        <%= @quotation.segmento3 %>
                    </h6>
                </div>
                <div class="col-md-6">
                    <h6 class="">
                        <span class="text-muted m-r-5">Dia extra:</span>
                        <%= @quotation.dia_extra3 %>
                    </h6>
                </div>
                <div class="col-md-6">
                    <h6 class="">
                        <span class="text-muted m-r-5">Sprinter 20:</span>
                        <%= @quotation.segmento4 %>
                    </h6>
                </div>
                <div class="col-md-6">
                    <h6 class="">
                        <span class="text-muted m-r-5">Dia extra:</span>
                        <%= @quotation.dia_extra4 %>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row">
  <!-- left -->

  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3>Precios:</h3>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-sm-8">
            <h4>Irizar pb 47 e irizar i6 51-53:  <a href="#" id="10"> <span class="grande fa fa-pencil"></span></a></h4>
            <p><%= number_to_currency best_in_place @quotation, :segmento1, :place_holder => "Añadir ", :activator => "#10" %></p>
          </div>

          <div class="col-sm-4">
            <h4>Dia extra <-  <a href="#" id="11"> <span class="grande fa fa-pencil"></span></a></h4>
            <p><%= number_to_currency best_in_place @quotation, :dia_extra1, :place_holder => "Añadir ", :activator => "#11" %></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <h4>Irizar i6 47 e irizar century 53:  <a href="#" id="12"> <span class="grande fa fa-pencil"></span></a></h4>
            <p><%= number_to_currency best_in_place @quotation, :segmento2, :place_holder => "Añadir ", :activator => "#12" %></p>
          </div>

          <div class="col-sm-4">
            <h4>Dia extra <-  <a href="#" id="13"> <span class="grande fa fa-pencil"></span></a></h4>
            <p><%= number_to_currency best_in_place @quotation, :dia_extra2, :place_holder => "Añadir ", :activator => "#13" %></p>
          </div>

        </div>

        <div class="row">
          <div class="col-sm-8">
            <h4>Volvo 9700 44 47:  <a href="#" id="14"> <span class="grande fa fa-pencil"></span></a></h4>
            <p><%= number_to_currency best_in_place @quotation, :segmento3, :place_holder => "Añadir ", :activator => "#14" %></p>
          </div>

          <div class="col-sm-4">
            <h4>Dia extra <-  <a href="#" id="15"> <span class="grande fa fa-pencil"></span></a></h4>
            <p><%= number_to_currency best_in_place @quotation, :dia_extra3, :place_holder => "Añadir ", :activator => "#15" %></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <h4>Sprinter 20:  <a href="#" id="16"> <span class="grande fa fa-pencil"></span></a></h4>
            <p><%= number_to_currency best_in_place @quotation, :segmento4, :place_holder => "Añadir ", :activator => "#16" %></p>
          </div>

          <div class="col-sm-4">
            <h4>Dia extra <-  <a href="#" id="17"> <span class="grande fa fa-pencil"></span></a></h4>
            <p><%= number_to_currency best_in_place @quotation, :dia_extra4, :place_holder => "Añadir ", :activator => "#17" %></p>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>

</div>


<div class="row">
  <div class="panel panel-headline">
    <div class="panel-heading">
      <h3>Precios sugeridos por KM (<%= @quotation.distancia %>)</h3>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-sm-2">
          <h4>Irizar PB 47:</h4>
          <p><%= number_to_currency @quotation.distancia * 22.5 %></p>
        </div>
        <div class="col-sm-2">
          <h4>Irizar I6 51-53:</h4>
          <p><%= number_to_currency @quotation.distancia * 22.5 %></p>
        </div>
        <div class="col-sm-2">
          <h4>Irizar I6 47:</h4>
          <p><%= number_to_currency @quotation.distancia * 21.25 %></p>
        </div>
        <div class="col-sm-2">
          <h4>Irizar Century 53:</h4>
          <p><%= number_to_currency @quotation.distancia * 21.25 %></p>
        </div>
        <div class="col-sm-2">
          <h4>Volvo 9700 44-47:</h4>
          <p><%= number_to_currency @quotation.distancia * 20 %></p>
        </div>
        <div class="col-sm-2">
          <h4>Sprinter 20:</h4>
          <p><%= number_to_currency @quotation.distancia * 11.25 %></p>
        </div>
      </div>
    </div>
    
    <div class="panel-heading">
      <h3>Precios sugeridos por número de días (<%= @quotation.num_dias %>)</h3>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-sm-2">
          <h4>Irizar PB 47:</h4>
          <p><%= number_to_currency @quotation.num_dias * 9000 %></p>
        </div>
        <div class="col-sm-2">
          <h4>Irizar I6 51-53:</h4>
          <p><%= number_to_currency @quotation.num_dias * 9000 %></p>
        </div>
        <div class="col-sm-2">
          <h4>Irizar I6 47:</h4>
          <p><%= number_to_currency @quotation.num_dias * 8500 %></p>
        </div>
        <div class="col-sm-2">
          <h4>Irizar Century 53:</h4>
          <p><%= number_to_currency @quotation.num_dias * 8500 %></p>
        </div>
        <div class="col-sm-2">
          <h4>Volvo 9700 44-47:</h4>
          <p><%= number_to_currency @quotation.num_dias * 8000 %></p>
        </div>
        <div class="col-sm-2">
          <h4>Sprinter 20:</h4>
          <p><%= number_to_currency @quotation.num_dias * 4500 %></p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="panel panel-headline">
    <div class="panel-body">
    <br><div id="map4"></div> <br>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to 'Ver Cotización', quotation_path(@quotation, :format => 'pdf'), class: "btn btn-info btn-block", :target => "_blank" %> <br><br>
  </div>
</div>


<script>
  function initMap() {

    var inicio = {lat: 19.5054552, lng: -99.1505334};
        // 
        <% @places.order('id ASC').each_with_index do |place, i| %>
        var address<%=i%> = {lat: <%= place.latitude.round(3) %>, lng: <%= place.longitude.round(3) %>};
        <% end %>
        // 
        var final = {lat: 19.5054552, lng: -99.1505334};


        var map = new google.maps.Map(document.getElementById('map4'), {
          center: inicio,
          scrollwheel: false,
          zoom: 7
        });

        var directionsDisplay = new google.maps.DirectionsRenderer({
          map: map
        });

        // Set destination, origin and travel mode.
        var request = {
          destination: final,
          waypoints: [
          <% @places.order('id ASC').each_with_index do |place, i| %>
          {location: address<%=i%>},
          <% end %>
          ],
          origin: inicio,
          travelMode: 'DRIVING'
        };


        // Pass the directions request to the directions service.
        var directionsService = new google.maps.DirectionsService();
        directionsService.route(request, function(response, status) {
          if (status == 'OK') {
           var total = 0;
           var myroute = response.routes[0];

           for (var i = 0; i < myroute.legs.length; i++) {
             total += myroute.legs[i].distance.value;
           }
           total = total / 1000;
           document.getElementById('total').innerHTML = total;



            // Display the route on the map.
            directionsDisplay.setDirections(response);

          }
        });
      }








</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCXph4Sx9MklyoSlZ4JH-FCryYgRRgWi4&callback=initMap&libraries=places"></script>



<!-- Autocomplete -->
<script>
  function initialize() {
    var options = {
      types: ['(cities)'],
    };

    var input = document.getElementById('searchTextField');
    var autocomplete = new google.maps.places.Autocomplete(input, options);
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>



<script>
  $(document).ready(function() {
    /* Activating Best In Place */
    jQuery(".best_in_place").best_in_place();
  });
</script>

<!-- <script>
  $('.best_in_place').bind("ajax:success", function(){
    // alert('Name updated');
    location.reload();
  });

</script> -->

<script> 
  $.datepicker.setDefaults({ dateFormat: 'M-dd-yy' });
</script>
