<p id="notice"><%= notice %></p>

<p>
  <strong>Razon social:</strong>
  <%= @company.razon_social %>
</p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @company.industry %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @company.rfc %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @company.alias %>
</p>

<p>
  <strong>Company type:</strong>
  <%= @company.company_type %>
</p>

<p>
  <strong>Cadena verificacion:</strong>
  <%= @company.cadena_verificacion %>
</p>

<p>
  <strong>Type a name:</strong>
  <%= @company.type_a_name %>
</p>

<p>
  <strong>Type a km cost:</strong>
  <%= @company.type_a_km_cost %>
</p>

<p>
  <strong>Type a day cost:</strong>
  <%= @company.type_a_day_cost %>
</p>

<p>
  <strong>Type b name:</strong>
  <%= @company.type_b_name %>
</p>

<p>
  <strong>Type b km cost:</strong>
  <%= @company.type_b_km_cost %>
</p>

<p>
  <strong>Type b day cost:</strong>
  <%= @company.type_b_day_cost %>
</p>

<p>
  <strong>Type c name:</strong>
  <%= @company.type_c_name %>
</p>

<p>
  <strong>Type c km cost:</strong>
  <%= @company.type_c_km_cost %>
</p>

<p>
  <strong>Type c day cost:</strong>
  <%= @company.type_c_day_cost %>
</p>

<p>
  <strong>Type d name:</strong>
  <%= @company.type_d_name %>
</p>

<p>
  <strong>Type d km cost:</strong>
  <%= @company.type_d_km_cost %>
</p>

<p>
  <strong>Type d day cost:</strong>
  <%= @company.type_d_day_cost %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
