<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5><%= @company.razon_social %></h5>
        </div>
        <div class="card-block">
            <div class="row">
              <div class="col-6 mb-3">
                  <h6 class="">
                      <span class="text-muted m-r-5">Razon Social:</span>
                      <%= @company.razon_social %>
                  </h6>
              </div>
              <div class="col-6 mb-3">
                  <h6 class="">
                      <span class="text-muted m-r-5">Name:</span>
                      <%= @company.name %>
                  </h6>
              </div>
              <div class="col-6 mb-3">
                  <h6 class="">
                      <span class="text-muted m-r-5">Address:</span>
                      <%= @company.address %>
                  </h6>
              </div>
              <div class="col-6 mb-3">
                  <h6 class="">
                      <span class="text-muted m-r-5">Industry:</span>
                      <%= @company.industry %>
                  </h6>
              </div>
              <div class="col-6 mb-3">
                  <h6 class="">
                      <span class="text-muted m-r-5">RFC:</span>
                      <%= @company.rfc %>
                  </h6>
              </div>
              <div class="col-6 mb-3">
                  <h6 class="">
                      <span class="text-muted m-r-5">Alias:</span>
                      <%= @company.alias %>
                  </h6>
              </div>
              <div class="col-6 mb-3">
                  <h6 class="">
                      <span class="text-muted m-r-5">Company type:</span>
                      <%= @company.company_type %>
                  </h6>
              </div>
              <div class="col-6 mb-3">
                  <h6 class="">
                      <span class="text-muted m-r-5">Cadena verificacion:</span>
                      <%= @company.cadena_verificacion %>
                  </h6>
              </div>
              <div class="col-6 mb-3">
                  <h6 class="">
                      <span class="text-muted m-r-5">Type A name:</span>
                      <%= @company.type_a_name %>
                  </h6>
              </div>
              <div class="col-6 mb-3">
                  <h6 class="">
                      <span class="text-muted m-r-5">Type A km cost:</span>
                      <%= @company.type_a_km_cost %>
                  </h6>
              </div>
              <div class="col-6 mb-3">
                  <h6 class="">
                      <span class="text-muted m-r-5">Type A day cost:</span>
                      <%= @company.type_a_day_cost %>
                  </h6>
              </div>
              <div class="col-6 mb-3">
                  <h6 class="">
                      <span class="text-muted m-r-5">Type B name:</span>
                      <%= @company.type_b_name %>
                  </h6>
              </div>
              <div class="col-6 mb-3">
                  <h6 class="">
                      <span class="text-muted m-r-5">Type B km cost:</span>
                      <%= @company.type_b_km_cost %>
                  </h6>
              </div>
              <div class="col-6 mb-3">
                  <h6 class="">
                      <span class="text-muted m-r-5">Type B day cost:</span>
                      <%= @company.type_b_day_cost %>
                  </h6>
              </div>
              <div class="col-6 mb-3">
                  <h6 class="">
                      <span class="text-muted m-r-5">Type C name:</span>
                      <%= @company.type_c_name %>
                  </h6>
              </div>
              <div class="col-6 mb-3">
                  <h6 class="">
                      <span class="text-muted m-r-5">Type C km cost:</span>
                      <%= @company.type_c_km_cost %>
                  </h6>
              </div>
              <div class="col-6 mb-3">
                  <h6 class="">
                      <span class="text-muted m-r-5">Type C day cost:</span>
                      <%= @company.type_c_day_cost %>
                  </h6>
              </div>
              <div class="col-6 mb-3">
                  <h6 class="">
                      <span class="text-muted m-r-5">Type D name:</span>
                      <%= @company.type_d_name %>
                  </h6>
              </div>
              <div class="col-6 mb-3">
                  <h6 class="">
                      <span class="text-muted m-r-5">Type D km cost:</span>
                      <%= @company.type_d_km_cost %>
                  </h6>
              </div>
              <div class="col-6 mb-3">
                  <h6 class="">
                      <span class="text-muted m-r-5">Type D day cost:</span>
                      <%= @company.type_d_day_cost %>
                  </h6>
              </div>
            </div>
        </div>
    </div>
</div>
