<%= form_for(@bus) do |f| %>
  <% if @bus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bus.errors.count, "error") %> prohibited this bus from being saved:</h2>

      <ul>
      <% @bus.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Operador %><br>
    <%= f.select :operator_id, current_user.company.operators.collect { |p| [ p.nombre, p.id ] }, {:prompt => 'Elige operador'}, {:required => true, class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :numero %><br>
    <%= f.text_field :numero, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :marca %><br>
    <%= f.text_field :marca, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :capacidad %><br>
    <%= f.number_field :capacidad, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :modelo %><br>
    <%= f.text_field :modelo, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :placa %><br>
    <%= f.text_field :placa, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :version %><br>
    <%= f.text_field :version, class: "form-control" %>
  </div>
  
  <br>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

<br><br>
