<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5>Autobus <%= @bus.numero %></h5>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-6 mb-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Operador:</span>
                        <%= @bus.operator.nombre %>
                    </h6>
                </div>
                <div class="col-6 mb-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Marca:</span>
                        <%= @bus.marca %>
                    </h6>
                </div>
                <div class="col-6 mb-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Capacidad:</span>
                        <%= @bus.capacidad %>
                    </h6>
                </div>
                <div class="col-6 mb-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Modelo:</span>
                        <%= @bus.modelo %>
                    </h6>
                </div>
                <div class="col-6 mb-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Placa:</span>
                        <%= @bus.placa %>
                    </h6>
                </div>
                <div class="col-6 mb-3">
                    <h6 class="">
                        <span class="text-muted m-r-5">Version:</span>
                        <%= @bus.version %>
                    </h6>
                </div>
        </div>
    </div>
</div>
