<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5>Gastos</h5>
        </div>
        <div class="card-block">
            <div class="table-responsive">
              <table class="table">
                  <thead>
                    <tr>
                      <th>Categoria</th>
                      <th>Cantidad</th>
                      <th>Nota</th>
                      <th>Mes</th>
                      <th>Ano</th>
                      <th>Fecha</th>
                      <th colspan="2"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @expenses.each do |expense| %>
                      <tr>
                        <td><%= expense.categoria %></td>
                        <td><%= expense.cantidad %></td>
                        <td><%= expense.nota %></td>
                        <td><%= expense.mes %></td>
                        <td><%= expense.ano %></td>
                        <td><%= expense.fecha %></td>
                        <td><%= link_to 'Editar', edit_expense_path(expense) %></td>
                        <td><%= link_to 'Eliminar', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>
              </table>
              <div style="display:flex; justify-content:center; align-items:center;">
                  <% unless @expenses.blank? %>
                      <%= will_paginate @expenses, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
                  <% end %>
              </div>
            </div>
        </div>
    </div>
</div>
