<!DOCTYPE html>
<html>
<head>
  <title>NuevoTutto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />
	<!--     Fonts and icons     -->
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<% if alert %>
	<p class="alert"><%= alert %></p>
<% elsif notice %>
	<p class="notice"><%= notice %></p>
<% end %>


<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="../images/sidebar-3.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="<%= root_path %>" class="simple-text">
                    Tutto Il Mondo - Ventas
                </a>
            </div>

            <ul class="nav">

                <li class="<%= 'active' if current_page?(pizarron_records_path) %>">
                    <%= link_to pizarron_records_path, :target => "_blank" do %>
                        <i class="material-icons">dashboard</i>
                        <p>Pizarrón</p>
                    <% end %>
                </li>

                <li class="<%= 'active' if current_page?(new_quotation_path) %>">
                    <a href="<%= new_quotation_path %>">
                        <i class="material-icons">library_books</i>
                        <p>Crear Cotización</p>
                    </a>
                </li>

                <li class="<%= 'active' if current_page?(quotations_path) %>">
                    <a href="<%= quotations_path %>">
                        <i class="material-icons">content_paste</i>
                        <p>Cotizaciones</p>
                    </a>
                </li>

                <li class="<%= 'active' if current_page?(new_record_path) %>">
                    <a href="<%= new_record_path %>">
                        <i class="material-icons">indeterminate_check_box</i>
                        <p>Bloqueo</p>
                    </a>
                </li>

                <li class="<%= 'active' if current_page?(operaciones_records_path) %>">
                    <a href="<%= operaciones_records_path %>">
                        <i class="material-icons">build</i>
                        <p>Operaciones</p>
                    </a>
                </li>


                <li class="<%= 'active' if current_page?(cobranza_records_path) %>">
                    <a href="<%= cobranza_records_path %>">
                        <i class="material-icons">monetization_on</i>
                        <p>Cobranza</p>
                    </a>
                </li>

                <li class="<%= 'active' if current_page?(records_path) %>">
                    <a href="<%= records_path %>">
                        <i class="material-icons">hourglass_empty</i>
                        <p>Histórico</p>
                    </a>
                </li>

                <li class="<%= 'active' if current_page?(registro_records_path) %>">
                    <a href="<%= registro_records_path %>">
                        <i class="material-icons">assignment</i>
                        <p>Registros</p>
                    </a>
                </li>

                <li class="<%= 'active' if current_page?(services_path) %>">
                    <a href="<%= services_path %>">
                        <i class="material-icons">dns</i>
                        <p>Servicios</p>
                    </a>
                </li>

                <li class="<%= 'active' if current_page?(vouchers_path) %>">
                    <a href="<%= vouchers_path %>">
                        <i class="material-icons">description</i>
                        <p>Comprobantes</p>
                    </a>
                </li>

                <li class="<%= 'active' if current_page?(new_voucher_path) %>">
                    <a href="<%= new_voucher_path %>">
                        <i class="material-icons">add</i>
                        <p>Nuevo comprobante</p>
                    </a>
                </li>

                <li class="<%= 'active' if current_page?(clients_path) %>">
                    <a href="<%= clients_path %>">
                        <i class="material-icons">group</i>
                        <p>Clientes</p>
                    </a>
                </li>

                <li class="<%= 'active' if current_page?(buses_path) %>">
                    <a href="<%= buses_path %>">
                        <i class="material-icons">directions_bus</i>
                        <p>Autobuses</p>
                    </a>
                </li>

                <li class="<%= 'active' if current_page?(operators_path) %>">
                    <a href="<%= operators_path %>">
                        <i class="material-icons">face</i>
                        <p>Operadores</p>
                    </a>
                </li>

                <li class="<%= 'active' if current_page?(users_path) %>">
                    <a href="<%= users_path %>">
                        <i class="material-icons">account_circle</i>
                        <p>Usuarios</p>
                    </a>
                </li>



            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                </div>
                <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                        <li>
                        <% if user_signed_in? %>
                             <a href="<%= destroy_user_session_path %>" data-method='delete'>Cerrar Sesión</a>
                            <% else %>
                            <a href="<%= new_user_session_path%>">Iniciar sesión</a>
                        <% end %>
                        </li>
                        <li>
                            <%= link_to edit_user_registration_path(@user) do %>
                                   <i class="material-icons">person</i>
                                   <p class="hidden-lg hidden-md">Editar Perfil</p>
                            <% end %>
                        </li>
                        </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
					<%= yield %>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal"><!-- Place at bottom of page --></div>

<script>
    $body = $("body");

$(document).on({
    ajaxStart: function() { $body.addClass("loading");    },
     ajaxStop: function() { $body.removeClass("loading"); }    
});
</script>

</body>
</html>
