<!DOCTYPE html>
<html>
<head>
  <title>Tutto il Mondo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />
  <!--     Fonts and icons     -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>


<body>
    <% if alert %>
    <p class="alert"><%= alert %></p>
    <% elsif notice %>
    <p class="notice"><%= notice %></p>
    <% end %>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
                <a href="<%= root_path %>"><img src="/images/tutto-05.png" alt="Tutto il mondo" class="img-responsive logo"></a>
            </div>
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-fullwidth"><i class="material-icons">arrow_back</i></i></button>
                </div>
                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <% if user_signed_in? %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span><%=current_user.name %></span> <i class="icon-submenu material-icons">keyboard_arrow_left</i></a>
                            <ul class="dropdown-menu">
                                <li><a href="<%= edit_user_registration_path %>"><i class="lnr lnr-user"></i> <span>Mi Perfil</span></a></li>
                                <li><a href="<%= destroy_user_session_path %>" data-method='delete'><i class="lnr lnr-exit"></i> <span>Cerrar Sesión</span></a></li>
                            </ul>
                        </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a href="<%= root_path %>" class="<%= 'active' if current_page?(root_path) %>"><i class="material-icons">dashboard</i> <span>Inicio</span></a></li>
                        <li>
                            <li><a href="<%= pizarron_records_path %>" class="<%= 'active' if current_page?(pizarron_records_path) %>"><i class="material-icons">view_module</i> <span>Pizarrón</span></a></li>
                            <li>
                                <a href="#subPages" data-toggle="collapse" class="collapsed <%= 'active' if current_page?(quotations_path) or current_page?(new_quotation_path) %>"><i class="material-icons">content_paste</i> <span>Cotización</span> <i class="icon-submenu material-icons">keyboard_arrow_left</i></a>
                                <div id="subPages" class="<%= 'collapse' unless current_page?(quotations_path) or current_page?(new_quotation_path)  %> <%= 'active' if current_page?(quotations_path) or current_page?(new_quotation_path) %>">
                                    <ul class="nav">
                                        <li><a href="<%= new_quotation_path %>" class="<%= 'active' if current_page?(new_quotation_path) %>">Nueva Cotización</a></li>
                                        <li><a href="<%= quotations_path %>" class="<%= 'active' if current_page?(quotations_path) %>">Todas las Cotizaciones</a></li>
                                    </ul>
                                </div>
                            </li>
                            <!--  -->
                            <li>
                                <a href="#subPages01" data-toggle="collapse" class="collapsed <%= 'active' if current_page?(operaciones_records_path) or current_page?(new_record_path) or current_page?(cobranza_records_path) %>"><i class="material-icons">library_books</i> <span>Órdenes</span> <i class="icon-submenu material-icons">keyboard_arrow_left</i></a>
                                <div id="subPages01" class="<%= 'collapse' unless current_page?(operaciones_records_path) or current_page?(new_record_path) or current_page?(cobranza_records_path)  %> <%= 'active' if current_page?(operaciones_records_path) or current_page?(new_record_path) or current_page?(cobranza_records_path) %>">
                                    <ul class="nav">
                                        <li><a href="<%= new_record_path %>" class="<%= 'active' if current_page?(new_record_path) %>">Nuevo Bloqueo</a></li>
                                        <li><a href="<%= operaciones_records_path %>" class="<%= 'active' if current_page?(operaciones_records_path) %>">Operaciones</a></li>
                                        <li><a href="<%= cobranza_records_path %>" class="<%= 'active' if current_page?(cobranza_records_path) %>">Cobranza</a></li>
                                    </ul>
                                </div>
                            </li>
                            <!--  -->

                            <li><a href="<%= services_path %>" class="<%= 'active' if current_page?(services_path) %>"><i class="material-icons">build</i> <span>Servicios</span></a></li>
                        
                                <!--  -->
                                
                            <li>
                                <a href="#subPages02" data-toggle="collapse" class="collapsed <%= 'active' if current_page?(vouchers_path) or current_page?(new_voucher_path) %>"><i class="material-icons">dns</i> <span>Comprobantes</span> <i class="icon-submenu material-icons">keyboard_arrow_left</i></a>
                                <div id="subPages02" class="<%= 'collapse' unless current_page?(vouchers_path) or current_page?(new_voucher_path)  %> <%= 'active' if current_page?(vouchers_path) or current_page?(new_voucher_path) %>">
                                    <ul class="nav">
                                        <li><a href="<%= new_voucher_path %>" class="<%= 'active' if current_page?(new_voucher_path) %>">Nuevo Comprobante</a></li>
                                        <li><a href="<%= vouchers_path %>" class="<%= 'active' if current_page?(vouchers_path) %>">Todas los Comprobantes</a></li>
                                    </ul>
                                </div>
                            </li>
                            <!--  -->


                                <li>
                                    <a href="#subPages05" data-toggle="collapse" class="collapsed <%= 'active' if current_page?(expenses_path) or current_page?(new_expense_path) %>"><i class="material-icons">assignment</i> <span>Gastos</span> <i class="icon-submenu material-icons">keyboard_arrow_left</i></a>
                                    <div id="subPages05" class="<%= 'collapse' unless current_page?(expenses_path) or current_page?(new_expense_path)  %> <%= 'active' if current_page?(expenses_path) or current_page?(new_expense_path) %>">
                                        <ul class="nav">
                                            <li><a href="<%= new_expense_path %>" class="<%= 'active' if current_page?(new_expense_path) %>">Nuevo Gasto</a></li>
                                            <li><a href="<%= expenses_path %>" class="<%= 'active' if current_page?(expenses_path) %>">Todos los Gastos</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <!--  -->

                                <li>
                                    <a href="#subPages06" data-toggle="collapse" class="collapsed <%= 'active' if current_page?(clients_path) or current_page?(new_client_path) %>"><i class="material-icons">group</i> <span>Clientes</span> <i class="icon-submenu material-icons">keyboard_arrow_left</i></a>
                                    <div id="subPages06" class="<%= 'collapse' unless current_page?(clients_path) or current_page?(new_client_path)  %> <%= 'active' if current_page?(clients_path) or current_page?(new_client_path) %>">
                                        <ul class="nav">
                                            <li><a href="<%= new_client_path %>" class="<%= 'active' if current_page?(new_client_path) %>">Nuevo Cliente</a></li>
                                            <li><a href="<%= clients_path %>" class="<%= 'active' if current_page?(clients_path) %>">Todos los clientes</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <!--  -->

                                <li>
                                    <a href="#subPages08" data-toggle="collapse" class="collapsed <%= 'active' if current_page?(operators_path) or current_page?(new_operator_path) %>"><i class="material-icons">face</i> <span>Operadores</span> <i class="icon-submenu material-icons">keyboard_arrow_left</i></a>
                                    <div id="subPages08" class="<%= 'collapse' unless current_page?(operators_path) or current_page?(new_operator_path)  %> <%= 'active' if current_page?(operators_path) or current_page?(new_operator_path) %>">
                                        <ul class="nav">
                                            <li><a href="<%= new_operator_path %>" class="<%= 'active' if current_page?(new_operator_path) %>">Nuevo Operador</a></li>
                                            <li><a href="<%= operators_path %>" class="<%= 'active' if current_page?(operators_path) %>">Todos los operadores</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <!--  -->

                                <li>
                                    <a href="#subPages07" data-toggle="collapse" class="collapsed <%= 'active' if current_page?(buses_path) or current_page?(new_bus_path) %>"><i class="material-icons">directions_bus</i> <span>Autobuses</span> <i class="icon-submenu material-icons">keyboard_arrow_left</i></a>
                                    <div id="subPages07" class="<%= 'collapse' unless current_page?(buses_path) or current_page?(new_bus_path)  %> <%= 'active' if current_page?(buses_path) or current_page?(new_bus_path) %>">
                                        <ul class="nav">
                                            <li><a href="<%= new_bus_path %>" class="<%= 'active' if current_page?(new_bus_path) %>">Nuevo Autobús</a></li>
                                            <li><a href="<%= buses_path %>" class="<%= 'active' if current_page?(buses_path) %>">Todos los autobuses</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <!--  -->

                                


                                <!--  -->

                                <li><a href="<%= users_path %>" class="<%= 'active' if current_page?(users_path) %>"><i class="material-icons">account_circle</i> <span>Usuarios</span></a></li>
                                

                                    <li><a href="<%= gas_path %>" class="<%= 'active' if current_page?(gas_path) %>"><i class="material-icons">waves</i> <span>Diesel</span></a></li>
                                    

                                        <li><a href="<%= records_path %>" class="<%= 'active' if current_page?(records_path) %>"><i class="material-icons">hourglass_empty</i> <span>Histórico</span></a></li>
                                            

                                            <li><a href="<%= reporte_path %>" class="<%= 'active' if current_page?(reporte_path) %>"><i class="material-icons">description</i> <span>Reporte</span></a></li>
                                            

                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <!-- END LEFT SIDEBAR -->
                                <!-- MAIN -->
                                <div class="main">
                                    <!-- MAIN CONTENT -->
                                    <div class="main-content">
                                        <div class="container-fluid">
                                            <!-- OVERVIEW -->
                                            
                                            <%= yield %>
                                        </div>
                                        <!-- END OVERVIEW -->
                                    </div>
                                </div>
                                <!-- END MAIN CONTENT -->
                            </div>
                            <!-- END MAIN -->
                            <div class="clearfix"></div>
                            <footer>
                                <div class="container-fluid">
                                    <p class="copyright">&copy; 2018 Tutto il Mondo</p>
                                </div>
                            </footer>
                        </div>
                        <!-- END WRAPPER -->
                    </body>

                    </html>
