<!DOCTYPE html>
<html lang="en">

<head>
    <title>Onxico</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Datta Able Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs."/>
    <meta name="keywords" content="admin templates, bootstrap admin templates, bootstrap 4, dashboard, dashboard templets, sass admin templets, html admin templates, responsive, bootstrap admin templates free download,premium bootstrap admin templates, datta able, datta able bootstrap admin template">
    <meta name="author" content="Codedthemes" />

    <!-- Favicon icon -->
    <link rel="icon" href="/onxico-favicon.svg" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="/assets/plugins/animation/css/animate.min.css">
    <!-- notification css -->
    <link rel="stylesheet" href="/assets/plugins/notification/css/notification.min.css">
    <!-- pnotify css -->
    <link rel="stylesheet" href="/assets/plugins/pnotify/css/pnotify.custom.min.css">
    <!-- pnotify-custom css -->
    <link rel="stylesheet" href="/assets/css/pages/pnotify.css">
    <!-- Bootstrap datetimepicker css -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datepicker3.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- table -->
    <link rel="stylesheet" href="/css/dataTables.bootstrap4.css">
    <!-- Full calendar -->
    <% if controller_name == 'records' && action_name == 'pizarron' %>
        <link rel="stylesheet" href="/css/scheduler.min.css">
        <link rel="stylesheet" href="/css/packages/core/main.min.css">
        <link rel="stylesheet" href="/css/packages-premium/timeline/main.min.css">
        <link rel="stylesheet" href="/css/packages-premium/resource-timeline/main.min.css">
    <% end %>
    <!-- Date picker -->
    <style>
        .datepicker>.datepicker-days {
            display: block;
        }

        ol.linenums {
            margin: 0 0 0 -8px;
        }
    </style>
</head>

<body>
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->

    <!-- [ navigation menu ] start -->
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <%= link_to root_path, class: "b-brand" do %>
                    <div class="" style="height: 35px; width: 163px;">
                        <img src="/onxico-logo.svg" class="img-fluid" alt="Responsive image">
                    </div>
                <% end %>
                <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li data-username="Documentation" class="nav-item mt-3 <%= @active1 %>">
                        <%= link_to root_path, class: "nav-link" do %>
                            <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                            <span class="pcoded-mtext">Inicio</span>
                        <% end %>
                    </li>

                    <li data-username="Full Calendar" class="nav-item <%= @active2 %>">
                        <%= link_to pizarron_records_path, class: "nav-link" do %>
                            <span class="pcoded-micon"><i class="feather icon-calendar"></i></span>
                            <span class="pcoded-mtext">Pizarron</span>
                        <% end %>
                    </li>

                    <li data-username="Task list board details" class="nav-item pcoded-hasmenu <%= @active3 %>">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-clipboard"></i></span><span class="pcoded-mtext">Cotización</span></a>
                        <ul class="pcoded-submenu">
                            <li class="">
                                <%= link_to 'Nueva Cotización', new_quotation_path, class: "" %>
                            </li>
                            <li class="">
                                <%= link_to 'Todas las Cotizaciones', quotations_path, class: "" %>
                            </li>
                        </ul>
                    </li>

                    <li data-username="Task list board details" class="nav-item pcoded-hasmenu <%= @active4 %>">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Ordenes</span></a>
                        <ul class="pcoded-submenu">
                            <li class="">
                                <%= link_to 'Nuevo Bloqueo', new_record_path, class: "" %>
                            </li>
                            <li class="">
                                <%= link_to 'Operaciones', operaciones_records_path, class: "" %>
                            </li>
                            <li class="">
                                <%= link_to 'Cobranza', cobranza_records_path, class: "" %>
                            </li>
                        </ul>
                    </li>

                    <li data-username="Full Calendar" class="nav-item <%= @active5 %>">
                        <%= link_to services_path, class: "nav-link" do %>
                            <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                            <span class="pcoded-mtext">Servicios</span>
                        <% end %>
                    </li>

                    <li data-username="Task list board details" class="nav-item pcoded-hasmenu <%= @active6 %>">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-book"></i></span><span class="pcoded-mtext">Comprobantes</span></a>
                        <ul class="pcoded-submenu">
                            <li class="">
                                <%= link_to 'Nuevo Comprobante', new_voucher_path, class: "" %>
                            </li>
                            <li class="">
                                <%= link_to 'Todas los Comprobantes', vouchers_path, class: "" %>
                            </li>
                        </ul>
                    </li>

                    <li data-username="Task list board details" class="nav-item pcoded-hasmenu <%= @active7 %>">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">Gastos</span></a>
                        <ul class="pcoded-submenu">
                            <li class="">
                                <%= link_to 'Nuevo Gasto', new_expense_path, class: "" %>
                            </li>
                            <li class="">
                                <%= link_to 'Todos los Gastos', expenses_path, class: "" %>
                            </li>
                        </ul>
                    </li>

                    <li data-username="Task list board details" class="nav-item pcoded-hasmenu <%= @active8 %>">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-users"></i></span><span class="pcoded-mtext">Clientes</span></a>
                        <ul class="pcoded-submenu">
                            <li class="">
                                <%= link_to 'Nuevo Cliente', new_client_path, class: "" %>
                            </li>
                            <li class="">
                                <%= link_to 'Todos los Clientes', clients_path, class: "" %>
                            </li>
                        </ul>
                    </li>

                    <li data-username="Task list board details" class="nav-item pcoded-hasmenu <%= @active9 %>">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">Operadores</span></a>
                        <ul class="pcoded-submenu">
                            <li class="">
                                <%= link_to 'Nuevo Operador', new_operator_path, class: "" %>
                            </li>
                            <li class="">
                                <%= link_to 'Todos los Operadores', operators_path, class: "" %>
                            </li>
                            <li class="">
                                <%= link_to 'Nueva Calificación a Operador', new_review_path, class: "" %>
                            </li>
                            <li class="">
                                <%= link_to 'Todas las calificaciones', reviews_path, class: "" %>
                            </li>
                        </ul>
                    </li>

                    <li data-username="Task list board details" class="nav-item pcoded-hasmenu <%= @active10 %>">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-disc"></i></span><span class="pcoded-mtext">Autobuses</span></a>
                        <ul class="pcoded-submenu">
                            <li class="">
                                <%= link_to 'Nuevo Autobus', new_bus_path, class: "" %>
                            </li>
                            <li class="">
                                <%= link_to 'Todos los Autobuses', buses_path, class: "" %>
                            </li>
                            <li class="">
                                <%= link_to 'New checkup', new_checkup_path, class: "" %>
                            </li>
                        </ul>
                    </li>

                    <li data-username="Task list board details" class="nav-item pcoded-hasmenu <%= @active15 %>">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-copy"></i></span><span class="pcoded-mtext">Empresa</span></a>
                        <ul class="pcoded-submenu">
                            <% if current_user.super_admin %>
                                <li class="">
                                    <%= link_to 'Nuevo Empresa', new_company_path, class: "" %>
                                </li>
                                <li class="">
                                    <%= link_to 'Todos los Compañías', companies_path, class: "" %>
                                </li>
                            <% else %>
                                <li class="">
                                    <%= link_to 'Editar Empresa', edit_company_path(Company.find(current_user.company.id)), class: "" %>
                                </li>
                            <% end %>
                        </ul>
                    </li>

                    <li data-username="Task list board details" class="nav-item pcoded-hasmenu <%= @active11 %>">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-user-check"></i></span><span class="pcoded-mtext">Usuarios</span></a>
                        <ul class="pcoded-submenu">
                            <% if current_user.super_admin? %>
                                <li class="">
                                    <%= link_to 'Nuevo Usuario', new_users_admin_path, class: "" %>
                                </li>
                            <% end %>
                            <li class="">
                                <%= link_to 'Usuarios', users_admin_index_path, class: "" %>
                            </li>
                        </ul>
                    </li>

                    <li data-username="Full Calendar" class="nav-item <%= @active12 %>">
                        <%= link_to gas_path, class: "nav-link" do %>
                            <span class="pcoded-micon"><i class="feather icon-target"></i></span>
                            <span class="pcoded-mtext">Diesel</span>
                        <% end %>
                    </li>

                    <li data-username="Full Calendar" class="nav-item <%= @active13 %>">
                        <%= link_to records_path, class: "nav-link" do %>
                            <span class="pcoded-micon"><i class="feather icon-clock"></i></span>
                            <span class="pcoded-mtext">Historico</span>
                        <% end %>
                    </li>

                    <li data-username="Full Calendar" class="nav-item mb-5 <%= @active14 %>">
                        <%= link_to reporte_path, class: "nav-link" do %>
                            <span class="pcoded-micon"><i class="feather icon-list"></i></span>
                            <span class="pcoded-mtext">Reporte</span>
                        <% end %>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- [ navigation menu ] end -->

    <!-- [ Header ] start -->
    <header class="navbar pcoded-header navbar-expand-lg navbar-light">
        <div class="m-header">
            <a class="mobile-menu" id="mobile-collapse1" href="#!"><span></span></a>
            <%= link_to root_path, class: "b-brand" do %>
                <div class="" style="height: 35px; width: 163px;">
                    <img src="/onxico-logo.svg" class="img-fluid" alt="Responsive image">
                </div>
            <% end %>
        </div>
        <a class="mobile-menu" id="mobile-header" href="#!">
            <i class="feather icon-more-horizontal"></i>
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li><a href="#!" class="full-screen" onclick="javascript:toggleFullScreen()"><i class="feather icon-maximize"></i></a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li>
                    <div class="dropdown drp-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon feather icon-settings"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-notification">
                            <div class="pro-head">
                                <img src="/assets/images/user/avatar-1.jpg" class="img-radius" alt="User-Profile-Image">
                                <span><%= current_user.name %></span>
                                <%= link_to destroy_user_session_path, method: :delete, class: "dud-logout", title: "Cerrar Sesión" do %>
                                    <i class="feather icon-log-out"></i>
                                <% end %>
                            </div>
                            <ul class="pro-body">
                                <li>
                                    <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
                                        <i class="feather icon-user"></i>
                                        Mi Perfil
                                    <% end %>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <!-- [ Header ] end -->

    <!-- [ chat user list ] start -->
    <section class="header-user-list">
        <div class="h-list-header">
            <div class="input-group">
                <input type="text" id="search-friends" class="form-control" placeholder="Search Friend . . .">
            </div>
        </div>
        <div class="h-list-body">
            <a href="#!" class="h-close-text"><i class="feather icon-chevrons-right"></i></a>
            <div class="main-friend-cont scroll-div">
                <div class="main-friend-list">
                    <div class="media userlist-box" data-id="1" data-status="online" data-username="Josephin Doe">
                        <a class="media-left" href="#!"><img class="media-object img-radius" src="/assets/images/user/avatar-1.jpg" alt="Generic placeholder image ">
                            <div class="live-status">3</div>
                        </a>
                        <div class="media-body">
                            <h6 class="chat-header">Josephin Doe<small class="d-block text-c-green">Typing . . </small></h6>
                        </div>
                    </div>
                    <div class="media userlist-box" data-id="2" data-status="online" data-username="Lary Doe">
                        <a class="media-left" href="#!"><img class="media-object img-radius" src="/assets/images/user/avatar-2.jpg" alt="Generic placeholder image">
                            <div class="live-status">1</div>
                        </a>
                        <div class="media-body">
                            <h6 class="chat-header">Lary Doe<small class="d-block text-c-green">online</small></h6>
                        </div>
                    </div>
                    <div class="media userlist-box" data-id="3" data-status="online" data-username="Alice">
                        <a class="media-left" href="#!"><img class="media-object img-radius" src="/assets/images/user/avatar-3.jpg" alt="Generic placeholder image"></a>
                        <div class="media-body">
                            <h6 class="chat-header">Alice<small class="d-block text-c-green">online</small></h6>
                        </div>
                    </div>
                    <div class="media userlist-box" data-id="4" data-status="offline" data-username="Alia">
                        <a class="media-left" href="#!"><img class="media-object img-radius" src="/assets/images/user/avatar-1.jpg" alt="Generic placeholder image">
                            <div class="live-status">1</div>
                        </a>
                        <div class="media-body">
                            <h6 class="chat-header">Alia<small class="d-block text-muted">10 min ago</small></h6>
                        </div>
                    </div>
                    <div class="media userlist-box" data-id="5" data-status="offline" data-username="Suzen">
                        <a class="media-left" href="#!"><img class="media-object img-radius" src="/assets/images/user/avatar-4.jpg" alt="Generic placeholder image"></a>
                        <div class="media-body">
                            <h6 class="chat-header">Suzen<small class="d-block text-muted">15 min ago</small></h6>
                        </div>
                    </div>
                    <div class="media userlist-box" data-id="1" data-status="online" data-username="Josephin Doe">
                        <a class="media-left" href="#!"><img class="media-object img-radius" src="/assets/images/user/avatar-1.jpg" alt="Generic placeholder image ">
                            <div class="live-status">3</div>
                        </a>
                        <div class="media-body">
                            <h6 class="chat-header">Josephin Doe<small class="d-block text-c-green">Typing . . </small></h6>
                        </div>
                    </div>
                    <div class="media userlist-box" data-id="2" data-status="online" data-username="Lary Doe">
                        <a class="media-left" href="#!"><img class="media-object img-radius" src="/assets/images/user/avatar-2.jpg" alt="Generic placeholder image">
                            <div class="live-status">1</div>
                        </a>
                        <div class="media-body">
                            <h6 class="chat-header">Lary Doe<small class="d-block text-c-green">online</small></h6>
                        </div>
                    </div>
                    <div class="media userlist-box" data-id="3" data-status="online" data-username="Alice">
                        <a class="media-left" href="#!"><img class="media-object img-radius" src="/assets/images/user/avatar-3.jpg" alt="Generic placeholder image"></a>
                        <div class="media-body">
                            <h6 class="chat-header">Alice<small class="d-block text-c-green">online</small></h6>
                        </div>
                    </div>
                    <div class="media userlist-box" data-id="4" data-status="offline" data-username="Alia">
                        <a class="media-left" href="#!"><img class="media-object img-radius" src="/assets/images/user/avatar-1.jpg" alt="Generic placeholder image">
                            <div class="live-status">1</div>
                        </a>
                        <div class="media-body">
                            <h6 class="chat-header">Alia<small class="d-block text-muted">10 min ago</small></h6>
                        </div>
                    </div>
                    <div class="media userlist-box" data-id="5" data-status="offline" data-username="Suzen">
                        <a class="media-left" href="#!"><img class="media-object img-radius" src="/assets/images/user/avatar-4.jpg" alt="Generic placeholder image"></a>
                        <div class="media-body">
                            <h6 class="chat-header">Suzen<small class="d-block text-muted">15 min ago</small></h6>
                        </div>
                    </div>
                    <div class="media userlist-box" data-id="1" data-status="online" data-username="Josephin Doe">
                        <a class="media-left" href="#!"><img class="media-object img-radius" src="/assets/images/user/avatar-1.jpg" alt="Generic placeholder image ">
                            <div class="live-status">3</div>
                        </a>
                        <div class="media-body">
                            <h6 class="chat-header">Josephin Doe<small class="d-block text-c-green">Typing . . </small></h6>
                        </div>
                    </div>
                    <div class="media userlist-box" data-id="2" data-status="online" data-username="Lary Doe">
                        <a class="media-left" href="#!"><img class="media-object img-radius" src="/assets/images/user/avatar-2.jpg" alt="Generic placeholder image">
                            <div class="live-status">1</div>
                        </a>
                        <div class="media-body">
                            <h6 class="chat-header">Lary Doe<small class="d-block text-c-green">online</small></h6>
                        </div>
                    </div>
                    <div class="media userlist-box" data-id="3" data-status="online" data-username="Alice">
                        <a class="media-left" href="#!"><img class="media-object img-radius" src="/assets/images/user/avatar-3.jpg" alt="Generic placeholder image"></a>
                        <div class="media-body">
                            <h6 class="chat-header">Alice<small class="d-block text-c-green">online</small></h6>
                        </div>
                    </div>
                    <div class="media userlist-box" data-id="4" data-status="offline" data-username="Alia">
                        <a class="media-left" href="#!"><img class="media-object img-radius" src="/assets/images/user/avatar-1.jpg" alt="Generic placeholder image">
                            <div class="live-status">1</div>
                        </a>
                        <div class="media-body">
                            <h6 class="chat-header">Alia<small class="d-block text-muted">10 min ago</small></h6>
                        </div>
                    </div>
                    <div class="media userlist-box" data-id="5" data-status="offline" data-username="Suzen">
                        <a class="media-left" href="#!"><img class="media-object img-radius" src="/assets/images/user/avatar-4.jpg" alt="Generic placeholder image"></a>
                        <div class="media-body">
                            <h6 class="chat-header">Suzen<small class="d-block text-muted">15 min ago</small></h6>
                        </div>
                    </div>
                    <div class="media userlist-box" data-id="1" data-status="online" data-username="Josephin Doe">
                        <a class="media-left" href="#!"><img class="media-object img-radius" src="/assets/images/user/avatar-1.jpg" alt="Generic placeholder image ">
                            <div class="live-status">3</div>
                        </a>
                        <div class="media-body">
                            <h6 class="chat-header">Josephin Doe<small class="d-block text-c-green">Typing . . </small></h6>
                        </div>
                    </div>
                    <div class="media userlist-box" data-id="2" data-status="online" data-username="Lary Doe">
                        <a class="media-left" href="#!"><img class="media-object img-radius" src="/assets/images/user/avatar-2.jpg" alt="Generic placeholder image">
                            <div class="live-status">1</div>
                        </a>
                        <div class="media-body">
                            <h6 class="chat-header">Lary Doe<small class="d-block text-c-green">online</small></h6>
                        </div>
                    </div>
                    <div class="media userlist-box" data-id="3" data-status="online" data-username="Alice">
                        <a class="media-left" href="#!"><img class="media-object img-radius" src="/assets/images/user/avatar-3.jpg" alt="Generic placeholder image"></a>
                        <div class="media-body">
                            <h6 class="chat-header">Alice<small class="d-block text-c-green">online</small></h6>
                        </div>
                    </div>
                    <div class="media userlist-box" data-id="4" data-status="offline" data-username="Alia">
                        <a class="media-left" href="#!"><img class="media-object img-radius" src="/assets/images/user/avatar-1.jpg" alt="Generic placeholder image">
                            <div class="live-status">1</div>
                        </a>
                        <div class="media-body">
                            <h6 class="chat-header">Alia<small class="d-block text-muted">10 min ago</small></h6>
                        </div>
                    </div>
                    <div class="media userlist-box" data-id="5" data-status="offline" data-username="Suzen">
                        <a class="media-left" href="#!"><img class="media-object img-radius" src="/assets/images/user/avatar-4.jpg" alt="Generic placeholder image"></a>
                        <div class="media-body">
                            <h6 class="chat-header">Suzen<small class="d-block text-muted">15 min ago</small></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- [ chat user list ] end -->

    <!-- [ chat message ] start -->
    <section class="header-chat">
        <div class="h-list-header">
            <h6>Josephin Doe</h6>
            <a href="#!" class="h-back-user-list"><i class="feather icon-chevron-left"></i></a>
        </div>
        <div class="h-list-body">
            <div class="main-chat-cont scroll-div">
                <div class="main-friend-chat">
                    <div class="media chat-messages">
                        <a class="media-left photo-table" href="#!"><img class="media-object img-radius img-radius m-t-5" src="/assets/images/user/avatar-2.jpg" alt="Generic placeholder image"></a>
                        <div class="media-body chat-menu-content">
                            <div class="">
                                <p class="chat-cont">hello Datta! Will you tell me something</p>
                                <p class="chat-cont">about yourself?</p>
                            </div>
                            <p class="chat-time">8:20 a.m.</p>
                        </div>
                    </div>
                    <div class="media chat-messages">
                        <div class="media-body chat-menu-reply">
                            <div class="">
                                <p class="chat-cont">Ohh! very nice</p>
                            </div>
                            <p class="chat-time">8:22 a.m.</p>
                        </div>
                    </div>
                    <div class="media chat-messages">
                        <a class="media-left photo-table" href="#!"><img class="media-object img-radius img-radius m-t-5" src="/assets/images/user/avatar-2.jpg" alt="Generic placeholder image"></a>
                        <div class="media-body chat-menu-content">
                            <div class="">
                                <p class="chat-cont">can you help me?</p>
                            </div>
                            <p class="chat-time">8:20 a.m.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-list-footer">
            <div class="input-group">
                <input type="file" class="chat-attach" style="display:none">
                <a href="#!" class="input-group-prepend btn btn-success btn-attach">
                    <i class="feather icon-paperclip"></i>
                </a>
                <input type="text" name="h-chat-text" class="form-control h-send-chat" placeholder="Write hear . . ">
                <button type="submit" class="input-group-append btn-send btn btn-primary">
                    <i class="feather icon-message-circle"></i>
                </button>
            </div>
        </div>
    </section>
    <!-- [ chat message ] end -->

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
    <!-- Notification -->
    <% if notice %>
      <div id="notice" style="display: none;"><%= notice %></div>
    <% end %>

    <% if alert %>
      <div id="alert"> <%= alert %></div>
    <% end %>

                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <%= ((controller_name == 'quotations' && %w(new edit itinerary distance prices pdf).include?(action_name)) || (controller_name == 'records' && %w(new edit client itinerary trip bus price payments pdf).include?(action_name))) ? yield(:content) : yield %>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

    <!-- Warning Section start -->
    <!-- Older IE warning message -->
    <!--[if lt IE 11]>
        <div class="ie-warning">
            <h1>Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade
               <br/>to any of the following web browsers to access this website.
            </p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="/assets/images/browser/chrome.png" alt="Chrome">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="/assets/images/browser/firefox.png" alt="Firefox">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="/assets/images/browser/opera.png" alt="Opera">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="/assets/images/browser/safari.png" alt="Safari">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="/assets/images/browser/ie.png" alt="">
                            <div>IE (11 & above)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
    <!-- Warning Section Ends -->

    <!-- Required Js -->
    <script src="/assets/js/vendor-all.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/pcoded.min.js"></script>

    <!-- amchart js -->
    <script src="/assets/plugins/amchart/js/amcharts.js"></script>
    <script src="/assets/plugins/amchart/js/gauge.js"></script>
    <script src="/assets/plugins/amchart/js/serial.js"></script>
    <script src="/assets/plugins/amchart/js/light.js"></script>
    <script src="/assets/plugins/amchart/js/pie.min.js"></script>
    <script src="/assets/plugins/amchart/js/ammap.min.js"></script>
    <script src="/assets/plugins/amchart/js/usaLow.js"></script>
    <script src="/assets/plugins/amchart/js/radar.js"></script>
    <script src="/assets/plugins/amchart/js/worldLow.js"></script>

    <!-- notification Js -->
    <script src="/assets/plugins/notification/js/bootstrap-growl.min.js"></script>

    <!-- dashboard-custom js -->
    <script src="/assets/js/pages/dashboard-custom.js"></script>

    <!-- pnotify Js -->
    <script src="/js/notification.js?v=<%= Time.now.to_i %>"></script>
    <script src="/assets/plugins/pnotify/js/pnotify.custom.min.js"></script>
    <script src="/assets/plugins/pnotify/js/notify-event.js"></script>

    <!-- datepicker js -->
    <script src="/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/assets/js/pages/ac-datepicker.js"></script>
    <script src="/js/datepicker.js?v=<%= Time.now.to_i %>"></script>
    <script src="/js/compare-dates.js?v=<%= Time.now.to_i %>"></script>

    <!-- table -->
    <script src="/js/table.js?v=<%= Time.now.to_i %>"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <!-- chartjs js -->
    <% if controller_name == 'welcome' && action_name == 'index' %>
        <script src="/js/charts.js?v=<%= Time.now.to_i %>"></script>
        <script src="/assets/plugins/chart-chartjs/js/Chart.min.js"></script>
    <% end %>

    <!-- Full calendar js -->
    <% if controller_name == 'records' && action_name == 'pizarron' %>
        <!-- <script src="/assets/plugins/fullcalendar/js/lib/moment.min.js"></script>
        <script src="/assets/plugins/fullcalendar/js/lib/jquery-ui.min.js"></script>
        <script src="/assets/plugins/fullcalendar/js/fullcalendar.min.js"></script> -->
    <% end %>
</body>

</html>
