<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5>Filtrar comprobantes por operador</h5>
        </div>
        <div class="card-block">
          <%= search_form_for @q do |f| %>
          <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                  <label>Operador:</label>
                  <%= f.select :operator_id_eq, options_from_collection_for_select(Operator.all, "id", "nombre", @q.operator_id_eq), {:prompt => 'Elige operador'}, {:required => true, class: "form-control"} %>
                </div>
            </div>
          </div>
            <div class="row">
              <div class="col-md-12">
                <%= f.submit "Buscar", class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
    </div>
</div>

<% @vouchers.group_by(&:month).sort.each do |month, vouchers| %>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5><%= month %></h5>
            </div>
            <div class="card-block">
              <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Operador</th>
                        <th>Operación</th>
                        <th>Notas</th>
                        <th>Fecha</th>
                        <th>Cantidad</th>
                        <th colspan="2"></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% vouchers.each do |voucher| %>
                      <tr>
                        <td>
                        <%= link_to operator_path(voucher.operator.id) do %>
                        <%= voucher.operator.nombre %>
                        <% end %>
                        </td>
                        <td><%= voucher.operacion %></td>
                        <td><%= voucher.nota %></td>
                        <td><%= voucher.fecha.to_date.strftime('%G-%B') %></td>
                        <td><%= voucher.cantidad %></td>
                        <td><%= link_to 'Editar', edit_voucher_path(voucher) %></td>
                        <td><%= link_to 'Eliminar', voucher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
              </div>
            </div>
        </div>
    </div>
<% end %>
