<div class="row">
  <div class="col-md-12">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3>Filtrar comprobantes por operador</h3>
        <hr>
      </div>
      <div class="panel-body">
  <%= search_form_for @q do |f| %>
  <div class="row">
    <div class="col-md-12">
      <label>Operador:</label>
      <%= f.select :operator_id_eq, options_from_collection_for_select(Operator.all, "id", "nombre", @q.operator_id_eq), {:prompt => 'Elige operador'}, {:required => true} %>
    </div>
  </div>

    <div class="row">
      <div class="col-md-3">
        <%= f.submit "Buscar", class: "btn btn-primary btn-block" %>
      </div>
      </div>

  <% end %>        
      </div>
    </div>
  </div>
</div>





<div class="row">
  <% @vouchers.group_by(&:month).sort.each do |month, vouchers| %>
  <div class="col-md-6">
    <div class="panel panel-headline">

      <div class="panel-heading">
      <h3><%= month %></h3>
      <hr>
      </div>
<div class="panel-body">
<div class="content table-responsive table-full-width">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Operador</th>
            <th>Operación</th>
            <th>Notas</th>
            <th>Fecha</th>
            <th>Cantidad</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% vouchers.each do |voucher| %>
          <tr>
            <td>
            <%= link_to operator_path(voucher.operator.id) do %>
            <%= voucher.operator.nombre %>
            <% end %>
            </td>
            <td><%= voucher.operacion %></td>
            <td><%= voucher.nota %></td>
            <td><%= voucher.fecha.to_date.strftime('%G-%B') %></td>
            <td><%= voucher.cantidad %></td>
            <td><%= link_to 'Editar', edit_voucher_path(voucher) %></td>
            <td><%= link_to 'Eliminar', voucher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>            
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
</div>
    </div>
    </div>
  </div>
  <% end %>
</div>



<br>
